<p id="notice"><%= notice %></p>

<%=render @factorieshaveworker%>
<%=render @factorieshaveworker.epochs%>
<%= link_to 'Edit', edit_factorieshaveworker_path(@factorieshaveworker) %> |
<%= link_to 'Back', factorieshaveworkers_path %>
