<div class="myaccordionspeople" data-id="<%=person.psid%>" id="accordionpeople<%=person.psid%>">
  <div class="card">
    <div class="card-header" id="mypostsurnameaccordion<%=person.psid%>">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#mypostsurnameaccordioncol<%=person.psid%>" aria-expanded="true" aria-controls="mypostsurnameaccordioncol<%=person.psid%>">
          c'est qui 
          <%= person.surname ? (render person.surname) : "" %> ?
          <%=link_to "hacker en tant que #{person.surname ? (render person.surname) : ""} dans un post", new_post_path(monpostsurnameid: person.psid)%>
          <button type="button" onclick="$('#post_content_fr').val($('#post_content_fr').val()+accordionpeople<%=person.psid%>.innerHTML);"> add this posts_surname to content </button>

    <%if person.surnamerecording%>
<%begin%>
<p class="card-text"><%= render partial:'a/1',collection:person.surnamerecording.languagesandemotions, as: :ll %>
<p class="card-text"><audio controls src="<%= asset_path  "#{person.surnamerecording.name}" %>"></audio>
</p>


<%rescue%>
<%end%>
<%end%>


        </button>
      </h5>
    </div>

    <div id="mypostsurnameaccordioncol<%=person.psid%>" class="collapse show" aria-labelledby="mypostsurnameaccordion<%=person.psid%>" data-parent="#accordionpeople<%=person.psid%>">
      <div class="card-body">
      <%= person.person ? (image_tag(person.person.image, class: "imageprofilethread", alt:"profile pic")) : ""%>
<%=person && person.surname && person.surname.name && person.surname.name.length > 0 ? (person.fakename ? "#{person.surname.my_relation_surname} #{person.surname.name}" : "") : "" %>

    <%if person.profilepic && person.profilepic.nameimage.length > 0 %>
      <%= render person.profilepic%>
    
    <%end%>
    <%if person.avatar && person.avatar != person.person%> 
      c'est 
      <%= render partial: "people/personsimple", collection: [person.avatar], as: :person%> 
    <%if person.stranger %> 
      (<%= render partial: "people/personsimple", collection: [person.avatar], as: :person%> 
does not know who is/what is 
      <%= render partial: "people/personsimple", collection: [person.stranger], as: :person%> )
    <%end%>
      
    <%end%>
      <% if person.place%>
      à <%= render person.place%>
    <%end%>
      <% if person.thing%>
     <%= render person.thing%>
    <%end%>
    <%if person.destinataire%> à 
      <%= render person.destinataire%>

      <%= person.surnamedestinataire ? (render partial: "people/personsimple", collection: [person.surnamedestinataire], as: :person) : ""%> 
    
    <%end%>

    <%=link_to posts_surname_path(person.psid) do%>
<%= image_tag("/assets/flagblack.gif", class: "pirate", alt:"profile pic")%>
  <%end%>
  <%=person.content.to_s.html_safe%>
    <%if person.sentencerecording%>
<%begin%>
<p class="card-text">my emotions<%= render partial: 'a/1',collection: person.sentencerecording.languagesandemotions, as: :ll %></p>
<p class="card-text"><audio controls src="<%= asset_path  "#{person.sentencerecording.name}" %>"></audio></p>


<%rescue%>
<%end%>
<%end%>
      </div>
<p class="card-text"><%=link_to "edit posts surnames","",onclick: "$.ajax({url:'#{edit_posts_surname_path(person.psid)}?ajax=true',success:function(data){onfa();facontent.innerHTML=data;}});return false;"%></p>
    </div>
  </div>
  </div>
    
      

