<h1>New Invite</h1>

<%= render 'form', invite: @invite %>

<%= link_to 'Back', invites_path %>
<%=content_for :myjscode do %>
<script>
function myperson(form){
$.ajax({url: '<%=people_invites_path%>?name='+form.value, success:function(data){
mypropositions.innerHTML='<option value=""></option>';

for (var i = 0;i<data.length;i++){
var person;

mypropositions.innerHTML+='<option id="peopleid'+String(data[i].id)+'" value="'+data[i].id+'">'+data[i].name+'</option>';

}
$(mypropositions).change(function(){
var id;
for (var i = 0;i<data.length;i++){
id=data[i].id;
if ($(this).val() == id) {
$.ajax({url:'<%=peopleform_invites_path%>?id='+id,success:function(data2){
myownpeople.innerHTML += data2;
}});
}
};
});

}});return false;
};
</script>
<%end%>

