<p id="notice"><%= notice %></p>
<%=render @invite%>
<%if current_user.aliases[0]%>
<%=render "answermessages/form",answermessage:@message%>
<%end%>
<%if @invite.tasks.length > 0%>
<%if @invite.guestmostlyfemale%>
<%=t('myguestfemale',sailors: @invite.people.map{|x|link_to(x.name, x)}.to_sentence, count: @invite.people.length).html_safe%>
<%else%>
<%=t('myguestmale',sailors: @invite.people.map{|x|link_to(x.name, x)}.to_sentence,count:@invite.people.length).html_safe%>
<%end%>
<%=t('conditiontask',sailors: @invite.people.map{|x|link_to(x.name, x)}.to_sentence,tasks:@invite.tasks.map{|x|link_to(x.name, x)}.to_sentence,count:@invite.tasks.count).html_safe%>
<%end%>
<br>
<br>
<br>
<%= link_to 'Edit', edit_invite_path(@invite) %> |
<%= link_to 'Back', invites_path %>
