<%= form_with(model: spouselink, local: true) do |form| %>
  <% if spouselink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spouselink.errors.count, "error") %> prohibited this spouselink from being saved:</h2>

      <ul>
        <% spouselink.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_en %>
    <%= form.text_field :name_en %>
  </div>

  <div class="field">
    <%= form.label :name_fr %>
    <%= form.text_field :name_fr %>
  </div>

  <div class="field">
    <%= form.label :name_de %>
    <%= form.text_field :name_de %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
