<p id="notice"><%= notice %></p>

<h1>Etnicities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etnicities.each do |etnicity| %>
      <tr>
        <td><%= etnicity.name %></td>
        <td><%= etnicity.image %></td>
        <td><%= link_to 'Show', etnicity %></td>
        <td><%= link_to 'Edit', edit_etnicity_path(etnicity) %></td>
        <td><%= link_to 'Destroy', etnicity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etnicity', new_etnicity_path %>
