<%= form_with(model: olympicevent, local: true) do |form| %>
  <% if olympicevent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(olympicevent.errors.count, "error") %> prohibited this olympicevent from being saved:</h2>

      <ul>
        <% olympicevent.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
