<p id="notice"><%= notice %></p>

<h1>Olympicevents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @olympicevents.each do |olympicevent| %>
      <tr>
        <td><%= olympicevent.name %></td>
        <td><%= link_to 'Show', olympicevent %></td>
        <td><%= link_to 'Edit', edit_olympicevent_path(olympicevent) %></td>
        <td><%= link_to 'Destroy', olympicevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Olympicevent', new_olympicevent_path %>
