<p id="notice"><%= notice %></p>

<h1>Answerinvites</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Invite</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @answerinvites.each do |answerinvite| %>
      <tr>
        <td><%= answerinvite.person_id %></td>
        <td><%= answerinvite.invite_id %></td>
        <td><%= answerinvite.content %></td>
        <td><%= link_to 'Show', answerinvite %></td>
        <td><%= link_to 'Edit', edit_answerinvite_path(answerinvite) %></td>
        <td><%= link_to 'Destroy', answerinvite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Answerinvite', new_answerinvite_path %>
