<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= render @taskshaveaccomplishment.task %>`
</p>

<p>
  <strong>Ticket:</strong>
  <%= render @taskshaveaccomplishment.ticket %>
</p>

<p>
  <strong>Sailor:</strong>
  <%= render @taskshaveaccomplishment.sailor %>
</p>

<%= link_to 'Edit', edit_taskshaveaccomplishment_path(@taskshaveaccomplishment) %> |
<%= link_to 'Back', taskshaveaccomplishments_path %>
