<p id="notice"><%= notice %></p>

<h1>Worktwos</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Otherperson</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @worktwos.each do |worktwo| %>
      <tr>
        <td><%= worktwo.person.name %></td>
        <td><%= worktwo.otherperson.name %></td>
        <td><%= worktwo.linkn %></td>
        <td><%= link_to 'Show', worktwo %></td>
        <td><%= link_to 'Edit', edit_worktwo_path(worktwo) %></td>
        <td><%= link_to 'Destroy', worktwo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Worktwo', new_worktwo_path %>
