<%= form_with(model: artist, local: true) do |form| %>
  <% if artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>
  <div class="field">
<%=render "form/checkbox", form: form, fieldname: "wannabe_ids", collec: artist.wannabes, mesmodele:"wannabes"%>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%=content_for :myjscode do%>
<script>
<%@search=[personjson_albums_path]%>
<%@select=[wannabes_artists_path]%>
<%@nom=['wannabes']%>
<%=render partial:"form/functionjson", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>

