<%=fields_for :rightaboutsomeone do |form|%>
<%=form.fields_for :actionlists do |f|%>

<%Actionlist.locale_columns(:title).each do |t|%>
<div>
<%=f.label t%>
<%=f.text_area t, name: "rightaboutsomeone[actionlists_attributes][#{params[:myid]}]#{t}"%>

</div>
<%end%>
<div>
<%=link_to "add actions","",onclick:"addactions('#{params[:myid]}',this);return false;",data: {myid: 0}%>
<br>
</div>


<%end%>
<%end%>


