<p id="notice"><%= notice %></p>

<h1>Traveltickets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traveltickets.each do |travelticket| %>
      <tr>
        <td><%= travelticket.name %></td>
        <td><%= image_tag travelticket.image, class: 'imageprofilethread' %></td>
        <td><%= link_to 'Show', travelticket %></td>
        <td><%= link_to 'Edit', edit_travelticket_path(travelticket) %></td>
        <td><%= link_to 'Destroy', travelticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travelticket', new_travelticket_path %>
