<%= form_with(model: tvseries, local: true) do |form| %>
  <% if tvseries.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tvseries.errors.count, "error") %> prohibited this tvseries from being saved:</h2>

      <ul>
        <% tvseries.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% tvseries.tvserieshaveactors.each do |k|%>
<%=form.fields_for :tvserieshaveactors, k do |firm|%>
<%=firm.hidden_field :tvseries_id%>
<%=firm.hidden_field :person_id%>
<%=firm.fields_for :surname, (k.surname||Surname.new) do |farm|%>
<div class="field">

<%=farm.label :new_surname, "Entrez le nom du rôle de #{render k.actor}".html_safe%>
<%=farm.text_field :new_surname%>
</div>
<%end%>
<%end%>
<%end%>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
