<form target="_blank" method="post" action="<%=opinion_path(params[:id])%>">
choisis un langage de programmation utilisé et clique le logo pour décrire is tu as beaucoup  pratiqué aujourd'hui
</br>
<%=select_tag "piid", options_for_select(Programminglanguage.all.collect{|x| [x.name,x.id]}, @langage.id), { prompt: "choisir un langage", value: ""}%>

<%(1..5).to_a.each_with_index do |h,i|%>
<input id="image<%=h%>proglang" type="image" width="100" height="100" title="langage <%=i+1%>/5" alt="langage" name="langage<%=h%>"


       src="<%=@langage.image%>">


<%end%>
</form>

