<p><%=notice%></p>
<%=render @grade%>
<br>
<%=render @epoch%>
<br>
<%=t('display.whointhisepoch',epochurl: polymorphic_url(@epoch),epoch: @epoch.name,grade: @grade.name).html_safe%>

<%=form_with url: addstudentsroute_epoch_grade_people_path(epoch_id: @epoch.id,grade_id: @grade.id) do |form|%>
<div class="field">
<%=render "form/checkbox", form: form, fieldname: 'personid', collec: [], mesmodele:"people"%>
</div>
<%end%>

<%=content_for :myjscode do%>
<script>
<%@select=[personid_categorythings_path]%>
<%@search =[personjson_albums_path]%>
<%@nom=['people']%>
<%=render partial:"form/functionjsonalbum", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>

