<p><%=t('display.colocstask',sailor: @person.name,othersailor: @otherperson.name)%></p>
<%if @k.tasks.length > 0%>
<p><%=t('display.exceptthose',task: @k.tasks.map{|x|x.name}.to_sentence)%></p>
<%end%>
<%if @task%>
<p><%=render @task%></p>
<%end%>

<%=form_with url: coloctask_people_path do |form|%>
<%=form.hidden_field :mypersonid, value: @person.id%>
<%=form.hidden_field :myotherpersonid, value: @otherperson.id%>

<div class="field">
<%=render "form/checkbox", form: form, fieldname: 'taskid', collec: [], mesmodele:"people"%>
</div>
<%end%>

<%=content_for :myjscode do%>
<script>
<%@select=[taskid_categorythings_path]%>
<%@search =[json_tasks_path]%>
<%@nom=['people']%>
<%=render partial:"form/functionjsonalbum", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>

