
<h1>New Event for this person</h1>

<%= render 'events/form', event: @event, personid: params[:id] %>
<h2>Ajouter des évènements pour cette personne</h2>

<%= form_with(model: @person, local: true) do |f| %>
<%= f.collection_check_boxes(:relatedevent_ids, Event.all, :id, :name)%><br />

<%= f.submit "ajouter des évènements"%><br />

<%end%>
<%= link_to 'Back', posts_path %>
