  <h2>People</h2>
<ul>
<%if @people.length > 0%>
<%@people.each do |p|%>
  <li><%=link_to p.name, p%>
<%=image_tag p.image, class: "imageprofilethread"%>
  </li>
</ul>
<%end%>
</br>
<%if @g.to_i > 0%>
<p>
Page precedente
<span><%=link_to (@g), people_path(page: (@g.to_i - 1))%></span>
</p>
<%end%>
</br>
<%if params[:page].to_i < Person.nbpages%>
<p>
Page suivante
<span><%=link_to (@g+2), people_path(page: (@g.to_i + 1))%></span>
</p>
<%end%>
</br>
<p>
<%(0..Person.nbpages).each do |g|%>
<span><%=link_to (g+1), people_path(page: g)%></span>
<%end%>
</p>
<%else%>
<img src="/assets/aucunmoussaillon.png"/>
<p>Aucun moussaillon pour l'instant.  </p>
<%end%>

