<p id="notice"><%= notice %></p>

<p>
  <strong>Personhavelifestate:</strong>
  <%= @personhavelifestateshaverequeststoperson.personhavelifestate_id %>
</p>

<p>
  <strong>Requeststoperson:</strong>
  <%= @personhavelifestateshaverequeststoperson.requeststoperson_id %>
</p>

<%= link_to 'Edit', edit_personhavelifestateshaverequeststoperson_path(@personhavelifestateshaverequeststoperson) %> |
<%= link_to 'Back', personhavelifestateshaverequeststopeople_path %>
