<p id="notice"><%= notice %></p>

<h1>Tvseriesparodies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tvseriesparodies.each do |tvseriesparody| %>
      <tr>
        <td><%= render tvseriesparody %></td>
        <td><%= link_to 'Show', tvseriesparody %></td>
        <td><%= link_to 'Edit', edit_tvseriesparody_path(tvseriesparody) %></td>
        <td><%= link_to 'Edit Roles', editroles_tvseriesparody_path(tvseriesparody.id) %></td>

        <td><%= link_to 'Destroy', tvseriesparody, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tvseriesparody', new_tvseriesparody_path %>
