<p id="notice"><%= notice %></p>

<h1>Onetimes</h1>

<table>
  <thead>
    <tr>
      <th>Pronoun</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @onetimes.each do |onetime| %>
      <tr>
        <td><%= onetime.pronoun_id %></td>
        <td><%= onetime.content %></td>
        <td><%= link_to 'Show', onetime %></td>
        <td><%= link_to 'Edit', edit_onetime_path(onetime) %></td>
        <td><%= link_to 'Destroy', onetime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Onetime', new_onetime_path %>
