<p id="notice"><%= notice %></p>

<h1>Bodyparts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bodyparts.each do |bodypart| %>
      <tr>
        <td><%= bodypart.name %></td>
        <td><%= image_tag bodypart.image, class: "imageprofilethread" %></td>
        <td><%= link_to 'Show', bodypart %></td>
        <td><%= link_to 'Edit', edit_bodypart_path(bodypart) %></td>
        <td><%= link_to 'Destroy', bodypart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bodypart', new_bodypart_path %>
