<div class="owl-item active" style="width: 269px;"><li class="content-item content-item--card related__item" role="menuitem">
			<div class="content-item__container">
				
					<a class="link link--plain" href="<%=post.myurl(@localevalue)%>">
						

















	
	
	
	
	
	
	

	
		
		
		
			<span class="content-item__image image-block">
				
















    
    
        















    
        
        
        
        
        
            <picture class="image-block__wrap" data-format="feature-post-thumbnail" data-crop="false">
                
                    
                    
                    
                    
                        <source srcset="https://primedia.primark.com/i/primark/<%=post.coverimages.pluck(:name)[0]%>?$feature-post-thumbnail$&amp;fmt=webp" media="(min-width: 1000px)" type="image/webp">
                        <source srcset="https://primedia.primark.com/i/primark/<%=post.coverimages.pluck(:name)[0]%>?$feature-post-thumbnail$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" media="(min-width: 1000px)" type="image/jpeg">

                        <source srcset="https://primedia.primark.com/i/primark/<%=post.coverimages.pluck(:name)[0]%>?$feature-post-thumbnail$&amp;fmt=webp" media="(min-width: 500px)" type="image/webp">
                        <source srcset="https://primedia.primark.com/i/primark/<%=post.coverimages.pluck(:name)[0]%>?$feature-post-thumbnail$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" media="(min-width: 500px)" type="image/jpeg">

                        <source srcset="https://primedia.primark.com/i/primark/<%=post.coverimages.pluck(:name)[0]%>?$feature-post-thumbnail$&amp;fmt=webp" media="(min-width: 300px)" type="image/webp">
                        <source srcset="https://primedia.primark.com/i/primark/<%=post.coverimages.pluck(:name)[0]%>?$feature-post-thumbnail$&amp;fmt=jpg&amp;fmt.jpeg.interlaced=true" media="(min-width: 300px)" type="image/jpeg">

                        <img class="image-block__image" src="https://primedia.primark.com/i/primark/<%=post.coverimages.pluck(:name)[0]%>?w=500" loading="lazy" alt="<%=post.mycategory.catname%>">
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                                    
                    
                    
                    
                    
                    
                    
                    
                    
                
            </picture>
        
    
    




    




			</span>
		
	





				
				
						<div class="content-item__category category-label">Herrenmode</div>
						<h3 class="content-item__title heading heading--h4 font-arial"><%=post.mainHeading%></h3>
						<p class="content-item__summary paragraph font-arial"><%=post.shortDescription%></p>
				
				
					</a>
				
				
			</div>
		</li></div>
