<%= form_with(model: taskaction, local: true) do |form| %>
  <% if taskaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taskaction.errors.count, "error") %> prohibited this taskaction from being saved:</h2>

      <ul>
        <% taskaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_fr %>
    <%= form.text_field :name_fr %>
  </div>

  <div class="field">
    <%= form.label :name_en %>
    <%= form.text_field :name_en %>
  </div>

  <div class="field">
    <%= form.label :name_de %>
    <%= form.text_field :name_de %>
  </div>
  <div class="field">
    <%= form.label :image %>
    <%= render "form/imagefield", form: form, myfield: "image", apercu: "apercu" %>
  </div>
  <div class="field">
<%=render "form/checkbox", form: form, fieldname: 'categorything_ids', collec: taskaction.categorythings, mesmodele:"categorythings"%>
</div>
  <div class="field">
<%=render "form/checkbox", form: form, fieldname: 'person_ids', collec: taskaction.people, mesmodele:"people"%>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%=content_for :myjscode do%>
<script>
<%@select=[thingstoknow_taskactions_path,sailors_taskactions_path]%>
<%@search=[json_categorythings_path,personjson_albums_path]%>
<%@nom=['categorythings','people']%>
<%=render partial:"form/functionjson", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>

