<%= form_with(model: repas, local: true) do |form| %>
  <% if repas.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repas.errors.count, "error") %> prohibited this repas from being saved:</h2>

      <ul>
        <% repas.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%if repas.new_record?%>
    <%= form.hidden_field :user_id %>
<%end%>

  <div class="field mesmenus">
    <%= form.label :menuids, "menus"%>
<%=form.collection_check_boxes(:menuids, Menu.all, :id, :menu) do |b|%>
  <div><%=b.label%><%= b.check_box %></div>
<%end%>

  </div>
  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
