<p id="notice"><%= notice %></p>

<h1>Ustensiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ustensiles.each do |ustensile| %>
      <tr>
        <td><%= ustensile.name %></td>
        <td><%= ustensile.image %></td>
        <td><%= link_to 'Show', ustensile %></td>
        <td><%= link_to 'Edit', edit_ustensile_path(ustensile) %></td>
        <td><%= link_to 'Destroy', ustensile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ustensile', new_ustensile_path %>
