<p id="notice"><%= notice %></p>

<h1>Proposalvalidations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Proposal</th>
      <th>Validated</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposalvalidations.each do |proposalvalidation| %>
      <tr>
        <td><%= proposalvalidation.user_id %></td>
        <td><%= proposalvalidation.proposal_id %></td>
        <td><%= proposalvalidation.validated %></td>
        <td><%= proposalvalidation.content %></td>
        <td><%= link_to 'Show', proposalvalidation %></td>
        <td><%= link_to 'Edit', edit_proposalvalidation_path(proposalvalidation) %></td>
        <td><%= link_to 'Destroy', proposalvalidation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposalvalidation', new_proposalvalidation_path %>
