<p id="notice"><%= notice %></p>

<h1>Togethertvseriesratings</h1>

<table>
  <thead>
    <tr>
      <th>Tvserieshaveactor</th>
      <th>User</th>
      <th>Rating</th>
      <th>Content fr</th>
      <th>Content en</th>
      <th>Content de</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @togethertvseriesratings.each do |togethertvseriesrating| %>
      <tr>
        <td><%= togethertvseriesrating.tvserieshaveactor_id %></td>
        <td><%= togethertvseriesrating.user_id %></td>
        <td><%= togethertvseriesrating.rating %></td>
        <td><%= togethertvseriesrating.content_fr %></td>
        <td><%= togethertvseriesrating.content_en %></td>
        <td><%= togethertvseriesrating.content_de %></td>
        <td><%= link_to 'Show', togethertvseriesrating %></td>
        <td><%= link_to 'Edit', edit_togethertvseriesrating_path(togethertvseriesrating) %></td>
        <td><%= link_to 'Destroy', togethertvseriesrating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Togethertvseriesrating', new_togethertvseriesrating_path %>
