<p id="notice"><%= notice %></p>

<p>
  <strong>Tvserieshaveactor:</strong>
  <%= @togethertvseriesrating.tvserieshaveactor_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @togethertvseriesrating.user_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @togethertvseriesrating.rating %>
</p>

<p>
  <strong>Content fr:</strong>
  <%= @togethertvseriesrating.content_fr %>
</p>

<p>
  <strong>Content en:</strong>
  <%= @togethertvseriesrating.content_en %>
</p>

<p>
  <strong>Content de:</strong>
  <%= @togethertvseriesrating.content_de %>
</p>

<%= link_to 'Edit', edit_togethertvseriesrating_path(@togethertvseriesrating) %> |
<%= link_to 'Back', togethertvseriesratings_path %>
