<p id="notice"><%= notice %></p>

<h1>Synonyms</h1>

<table>
  <thead>
    <tr>
      <th>Synonym</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @synonyms.each do |synonym| %>
      <tr>
        <td><%= synonym.synonym_id %></td>
        <td><%= synonym.content %></td>
        <td><%= link_to 'Show', synonym %></td>
        <td><%= link_to 'Edit', edit_synonym_path(synonym) %></td>
        <td><%= link_to 'Destroy', synonym, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Synonym', new_synonym_path %>
