<p id="notice"><%= notice %></p>

<%=number_to_human(@number.myvalue, units: :"myunits.#{@number.mytype}")%>
<p>
  <strong>Description:</strong>
  <%= @number.description %>
</p>

<%= link_to 'Edit', edit_number_path(@number) %> |
<%= link_to 'Back', numbers_path %>
