<p id="notice"><%= notice %></p>

<h1>Githubaccounts</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Nameowner</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @githubaccounts.each do |githubaccount| %>
      <tr>
        <td><%= githubaccount.username %></td>
        <td><%= githubaccount.nameowner %></td>

        <td>
        <%if githubaccount.owner %>
<%= link_to githubaccount.owner.name, githubaccount.owner %>
        <%end%>
</td>

        <td><%= link_to 'Show', githubaccount %></td>
        <td><%= link_to 'Edit', edit_githubaccount_path(githubaccount) %></td>
        <td><%= link_to 'Destroy', githubaccount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Githubaccount', new_githubaccount_path %>
