<%= form_with(model: armygrade, local: true) do |form| %>
  <% if armygrade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(armygrade.errors.count, "error") %> prohibited this armygrade from being saved:</h2>

      <ul>
        <% armygrade.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>
  <div class="field">
    <%= form.label :abbreviation %>
    <%= form.text_field :abbreviation %>
  </div>

  <div class="field">
    <%= form.label :appellation %>
    <%= form.text_field :appellation %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= render "form/imagefield", form: form, myfield: "image", apercu: "apercu" %>
  </div>
  <div class="field">
    <%= form.label :femme %>
    <%= form.text_field :femme %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
