<p id="notice"><%= notice %></p>

<h1>Optiontasks</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @optiontasks.each do |optiontask| %>
      <tr>
        <td><%= render optiontask %></td>
        <td><%= link_to 'Show', optiontask %></td>
        <td><%= link_to 'Edit', edit_optiontask_path(optiontask) %></td>
        <td><%= link_to 'Destroy', optiontask, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Optiontask', new_optiontask_path %>
