<%= form_with(model: comicbook, local: true) do |form| %>
  <% if comicbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comicbook.errors.count, "error") %> prohibited this comicbook from being saved:</h2>

      <ul>
        <% comicbook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= render "form/imagefield", form: form, myfield: "image", apercu: "apercu" %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
