<p id="notice"><%= notice %></p>

<h1>Peoplecars</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Car</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peoplecars.each do |peoplecar| %>
      <tr>
        <td><%= peoplecar.person_id %></td>
        <td><%= peoplecar.car_id %></td>
        <td><%= peoplecar.user_id %></td>
        <td><%= link_to 'Show', peoplecar %></td>
        <td><%= link_to 'Edit', edit_peoplecar_path(peoplecar) %></td>
        <td><%= link_to 'Destroy', peoplecar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peoplecar', new_peoplecar_path %>
