<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tvshow.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @tvshow.image %>
</p>

<%= link_to 'Edit', edit_tvshow_path(@tvshow) %> |
<%= link_to 'Back', tvshows_path %>
