<div>
<%=surname.name.upcase%>
<button type="button" onclick="content_<%=I18n.locale%>.value = content_<%=I18n.locale%>.value+'<%=surname.name.upcase%>';content_<%=I18n.locale%>.focus();">ajouter ce nom</button>
</div>
