function chercher<%=t[0]%>(field,al){
if (field.value.trim() !== ''){
$.ajax({url: '<%=t[1]%>?name='+field.value, 
success:function(data){
al.innerHTML="<option></option>";
var value, id;
for (var i=0;i<data.length;i++){
id=data[i].id;
name=data[i].name||data[i].name_<%=I18n.locale%>;
al.innerHTML+="<option value='"+id+"'>"+name+"</option>";
}
}});
}
};
function select<%=t[0]%>(field,greatpeople,m = null){
if (field.value !== ''){
$.ajax({url: '<%=t[2]%>?id='+field.value+'&n='+String(m)+'&userid=<%=current_user.id%>', 
success:function(data){
greatpeople.innerHTML+=data;
}});
};
};

