<p id="notice"><%= notice %></p>

<h1>Historical events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historicalevents.each do |historicalevent| %>
      <tr>
        <td><%= render partial: "things/addstufftobasket", collection: [historicalevent], as: :thing %></td>
        <td><%= historicalevent.image %></td>
        <td><%= link_to 'Show', historicalevent %></td>
        <td><%= link_to 'Edit', edit_historicalevent_path(historicalevent) %></td>
        <td><%= link_to 'Destroy', historicalevent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historicalevent', new_historicalevent_path %>
