<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @planet.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @planet.image %>
</p>

<p>
  <strong>Content:</strong>
  <%= @planet.description %>
</p>

<%= link_to 'Edit', edit_planet_path(@planet) %> |
<%= link_to 'Back', planets_path %>
