
<%=form_with(model: @pers, local:false) do |f|%>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
      
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
    <%= f.submit "create new" %>
<%end%>
