<p id="notice"><%= notice %></p>

<h1>Hernothers</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hernothers.each do |hernother| %>
      <tr>
        <td><%= render hernother %></td>
        <td><%= link_to 'Show', hernother %></td>
        <td><%= link_to 'Edit', edit_hernother_path(hernother) %></td>
        <td><%= link_to 'Destroy', hernother, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hernother', new_hernother_path %>
