<%= form_with(model: create_webpage, local: true) do |form| %>
  <% if create_webpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(create_webpage.errors.count, "error") %> prohibited this create_webpage from being saved:</h2>

      <ul>
        <% create_webpage.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
