<p id="notice"><%= notice %></p>


<p>
  <%= render @rival %>
</p>

  <%= render 'rivals/rivalvariante',rival: @rival %>
<%= link_to 'Edit', edit_rival_path(@rival) %> |
<%= link_to 'Back', rivals_path %>
