<%= form_with(model: becausetask, local: true) do |form| %>
  <% if becausetask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(becausetask.errors.count, "error") %> prohibited this becausetask from being saved:</h2>

      <ul>
        <% becausetask.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<%=render "form/radiobutton", form: form, fieldname: 'task_id', collec: Task.findbyid(becausetask.task_id), mesmodele:"task"%>

  </div>

  <div class="field">
<%=render "form/radiobutton", form: form, fieldname: 'othertask_id', collec: Task.findbyid(becausetask.othertask_id), mesmodele:"othertask"%>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%=content_for :myjscode do%>
<script>
<%@select=[task_becausetasks_path, othertask_becausetasks_path]%>
<%@search=[json_tasks_path,json_tasks_path]%>
<%@nom=['task','othertask']%>
<%=render partial:"form/functionjson", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>

