<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @peopledidwellgrouptask.user_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @peopledidwellgrouptask.rating %>
</p>

<p>
  <strong>Sailorgrouptask:</strong>
  <%= @peopledidwellgrouptask.sailorgrouptask_id %>
</p>

<%= link_to 'Edit', edit_peopledidwellgrouptask_path(@peopledidwellgrouptask) %> |
<%= link_to 'Back', peopledidwellgrouptasks_path %>
