<%= form_with(model: socialcontract, local: true) do |form| %>
  <% if socialcontract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(socialcontract.errors.count, "error") %> prohibited this socialcontract from being saved:</h2>

      <ul>
        <% socialcontract.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.number_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :otherperson_id %>
    <%= form.number_field :otherperson_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
