<p id="notice"><%= notice %></p>

<h1>Socialcontracts</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Otherperson</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @socialcontracts.each do |socialcontract| %>
      <tr>
        <td><%= socialcontract.person_id %></td>
        <td><%= socialcontract.otherperson_id %></td>
        <td><%= link_to 'Show', socialcontract %></td>
        <td><%= link_to 'Edit', edit_socialcontract_path(socialcontract) %></td>
        <td><%= link_to 'Destroy', socialcontract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Socialcontract', new_socialcontract_path %>
