<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content_fr %>
    <%= form.text_area :content_fr %>
  </div>

  <div class="field">
    <%= form.label :content_de %>
    <%= form.text_area :content_de %>
  </div>

  <div class="field">
    <%= form.label :content_en %>
    <%= form.text_area :content_en %>
  </div>
  <div class="field">
<%=render "form/checkbox", form: form, fieldname: 'sender_ids', collec: ticket.senders, mesmodele:"senders"%>
</div>
  <div class="field">
<%=render "form/checkbox", form: form, fieldname: 'recipient_ids', collec: ticket.recipients, mesmodele:"recipients"%>
</div>

  <div class="field">
<%=render "form/checkbox", form: form, fieldname: 'linkfamilyperson_ids', collec: ticket.linkfamilypeople, mesmodele:"linkfamilypeople"%>
</div>
  <div class="field">
<%=render "form/checkbox", form: form, fieldname: 'linkspouseperson_ids', collec: ticket.linkspousepeople, mesmodele:"linkspousepeople"%>
</div>

  <div class="field">
<%=render "form/checkbox", form: form, fieldname: 'worktwo_ids', collec: ticket.worktwos, mesmodele:"worktwos"%>
</div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%=content_for :myjscode do%>
<script>
<%@cherche=[personjson_people_path,personjson_people_path]%>
<%@choisis=[cbsenders_tickets_path,cbrecipients_tickets_path]%>
<%@nom=['senders','recipients']%>
<%=render partial:"form/functionjson", collection: @nom.zip(@cherche, @choisis), as: :t%>
</script>
<%end%>

<%=content_for :myjscode do%>
<script>
<%@cherche=[json_linkspousepeople_path,json_linkfamilypeople_path, worktwosjson_worktwos_path]%>
<%@choisis=[linkspousepeople_tickets_path, linkfamilypeople_tickets_path, worktwos_tickets_path]%>

<%@nom=['linkspousepeople','linkfamilypeople','worktwos']%>

<%=render partial:"form/functionjson", collection: @nom.zip(@cherche, @choisis), as: :t%>
</script>
<%end%>

