<%= form_with(model: metonymy, local: true) do |form| %>
  <% if metonymy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(metonymy.errors.count, "error") %> prohibited this metonymy from being saved:</h2>

      <ul>
        <% metonymy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :thing_id %>
    <%= form.number_field :thing_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.number_field :post_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
