<p id="notice"><%= notice %></p>

<h1>Metonymies</h1>

<table>
  <thead>
    <tr>
      <th>Thing</th>
      <th>Name</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metonymies.each do |metonymy| %>
      <tr>
        <td><%= metonymy.thing_id %></td>
        <td><%= metonymy.name %></td>
        <td><%= metonymy.post_id %></td>
        <td><%= link_to 'Show', metonymy %></td>
        <td><%= link_to 'Edit', edit_metonymy_path(metonymy) %></td>
        <td><%= link_to 'Destroy', metonymy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metonymy', new_metonymy_path %>
