<p id="notice"><%= notice %></p>

<h1>Scorecriteria</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Gooduser</th>
      <th>Musicalscore</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scorecriteria.each do |scorecriterium| %>
      <tr>
        <td><%= scorecriterium.description %></td>
        <td><%= scorecriterium.gooduser_id %></td>
        <td><%= scorecriterium.musicalscore_id %></td>
        <td><%= link_to 'Show', scorecriterium %></td>
        <td><%= link_to 'Edit', edit_scorecriterium_path(scorecriterium) %></td>
        <td><%= link_to 'Destroy', scorecriterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scorecriterium', new_scorecriterium_path %>
