<p id="notice"><%= notice %></p>


<p>
  <strong>Name de:</strong>
  <%= @concert.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @concert.description %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @concert.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @concert.end_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @concert.description %>
</p>
<br>
<%=render @concert.musicalcompositions%>
<br>
<%=render @concert.songs%>
<br>
<%=render @concert.musicians%>
<br>
<%=render @concert.musicalscores%>
<br>
<%if @concert.cities.length > 0%>
Villes
<br>
<%=render @concert.cities%>
<%end%>
<br>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
