<p id="notice"><%= notice %></p>

<h1>Depenses</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Somme</th>
      <th>Motif</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @depenses.each do |depense| %>
      <tr>
        <td><%= depense.username %></td>
        <td><%= depense.somme %></td>
        <td><%= depense.motif %></td>
        <td><%= depense.date %></td>
        <td><%= link_to 'Show', depense %></td>
        <td><%= link_to 'Edit', edit_depense_path(depense) %></td>
        <td><%= button_to 'Destroy', depense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Depense', new_depense_path %>
