<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @depense.username %>
</p>

<p>
  <strong>Somme:</strong>
  <%= @depense.somme %>
</p>

<p>
  <strong>Motif:</strong>
  <%= @depense.motif %>
</p>

<p>
  <strong>Date:</strong>
  <%= @depense.date %>
</p>

<%= link_to 'Edit', edit_depense_path(@depense) %> |
<%= link_to 'Back', depenses_path %>
