<p id="notice"><%= notice %></p>

<p>
  <strong>Name en:</strong>
  <%= @linkperson.name_en %>
</p>

<p>
  <strong>Name fr:</strong>
  <%= @linkperson.name_fr %>
</p>

<p>
  <strong>Name de:</strong>
  <%= @linkperson.name_de %>
</p>

<%= link_to 'Edit', edit_linkperson_path(@linkperson) %> |
<%= link_to 'Back', linkpeople_path %>
