<p id="notice"><%= notice %></p>

<h1>Aregoodrequests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aregoodrequests.each do |aregoodrequest| %>
      <tr>
        <td><%= link_to 'Show', aregoodrequest %></td>
        <td><%= link_to 'Edit', edit_aregoodrequest_path(aregoodrequest) %></td>
        <td><%= link_to 'Destroy', aregoodrequest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aregoodrequest', new_aregoodrequest_path %>
