<p id="notice"><%= notice %></p>

<h1>Familylinks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @familylinks.each do |familylink| %>
      <tr>
        <td><%= render familylink %></td>
        <td><%= link_to 'Show', familylink %></td>
        <td><%= link_to 'Edit', edit_familylink_path(familylink) %></td>
        <td><%= link_to 'Destroy', familylink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Familylink', new_familylink_path %>
