<div class="card">
<h5> Bar criterion for bar no. <%=barcriterion.bar.id%></h5>

<%=barcriterion.description%>
<br/>
<%=barcriterion.gooduser.name%> a fait la proposition
<br/>
<%=image_tag "/assets/"+barcriterion.bar.image%>
<br/>
<%=link_to "voir", barcriterion%>

</div>
