<p id="notice"><%= notice %></p>

<h1>criteria to play the bars</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>user proposing this criterion</th>
      <th>Musical score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @barcriteria.each do |barcriterion| %>
      <tr>
        <td><%= barcriterion.description %></td>
        <td><%= barcriterion.gooduser.name %></td>
        <td><%= image_tag "/assets/"+barcriterion.bar.image, class:"musicalbarlist" %></td>
        <td><%= link_to 'Show', barcriterion %></td>
        <td><%= link_to 'Edit', edit_barcriterion_path(barcriterion) %></td>
        <td><%= link_to 'Destroy', barcriterion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar criterion', new_barcriterion_path %>
