<p id="notice"><%= notice %></p>
<h1>Critere pour reussir a jouer la mesure</h1>

<p>
  <strong>Description:</strong>
  <%= @barcriterion.description %>
</p>

<p>
  <strong>Cet utilisateur a donne ce critere :</strong>
  <%= render @barcriterion.gooduser %> 
</p>

<p>
  <strong>Extrait de partition :</strong>
  <%= image_tag "/assets/"+@barcriterion.bar.image %>
</p>

<%= link_to 'revenir a la mesure', bar_path(@barcriterion.bar_id), class:"nav-item2" %>

<%= link_to 'Edit', edit_barcriterion_path(@barcriterion) %> |
<%= link_to 'Back', barcriteria_path %>
