<p id="notice"><%= notice %></p>

<h1>Githubrepos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Githubrepo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @githubrepos.each do |githubrepo| %>
      <tr>
        <td><%= githubrepo.name %></td>
        <td><%= githubrepo.githubaccount.name %></td>
        <td><%= link_to 'Show', githubrepo %></td>
        <td><%= link_to 'Edit', edit_githubrepo_path(githubrepo) %></td>
        <td><%= link_to 'Destroy', githubrepo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Githubrepo', new_githubrepo_path %>
