<%= form_with(model: mylayout, local: true) do |form| %>
  <% if mylayout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mylayout.errors.count, "error") %> prohibited this mylayout from being saved:</h2>

      <ul>
        <% mylayout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :typelayout %>
    <%= form.text_field :typelayout %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
