<%aidememoire.bigrelations.each do |x|%>    
<%=x.name%>
<%end%>
<div class="col">
<div class="card">
    <div class="card-header">
    My phrase
  </div>

<div class="card-body">
    <%if aidememoire.notopposite%>
<%begin%>
<p class="card-text"><audio controls src="<%= asset_path  "#{aidememoire.recordedphrase.name}" %>"></audio>
      

<%=aidememoire.firstrelation%> je fais 

<%=aidememoire.recordedphrase.content%>
<%rescue%>
  pas deenregistrement
<%end%>
</p>
<%aidememoire.middlerelations.each do |x|%>    
<%=x.name%>
<%end%>
<p class="card-text"><audio controls src="<%= asset_path  "#{aidememoire.recordedword.name}" %>"></audio>
      
<%=aidememoire.secondrelation%> je fais 

<%=aidememoire.recordedword.content%>
</p>
<%else%>
<p class="card-text"><audio controls src="<%= asset_path  "#{aidememoire.recordedword.name}" %>"></audio>
      
<%=aidememoire.secondrelation%> je fais 

<%=aidememoire.recordedword.content%>
</p>
<%aidememoire.middlerelations.each do |x|%>    
<%=x.name%>
<%end%>

<%begin%>
<p class="card-text"><audio controls src="<%= asset_path  "#{aidememoire.recordedphrase.name}" %>"></audio>
      

<%=aidememoire.firstrelation%> je fais 

<%=aidememoire.recordedphrase.content%>
<%rescue%>
  pas deenregistrement
<%end%>
</p>

<%end%>
</div>
    </div>
        </div>
