<p id="notice"><%= notice %></p>

<p>
  <strong>Name fr:</strong>
  <%= @area.name_fr %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @area.name_en %>
</p>

<p>
  <strong>Name de:</strong>
  <%= @area.name_de %>
</p>

<p>
  <strong>City:</strong>
  <%= @area.city_id %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
