<%=fields_for :lesson, @lesson do |f|%>
<%=f.fields_for :lesson_samplecontents, LessonSamplecontent.new do |form|%>
  

<% LessonSamplecontent.locale_columns(:content).each do |column| %>
  <div class="field">
    <%= form.label column %>
    <%= form.text_area column, class: 'contentpost'%>

</div>
<%=render partial: "formrecord/recordrecordingtable", locals: {sot: @sot, am: @am, mylabel: "record like a woman", myfield: "recordmyphrasesandwords1", form: form, modelderails: @lesson}%>
<%=render partial: "formrecord/recordrecordingtable", locals: {sot: @sot, am: @am, mylabel: "record like a man", myfield: "recordmyphrasesandwords2", form: form, modelderails: @lesson}%>





  <% end %>
  <% end %>
  <% end %>

