<p id="notice"><%= notice %></p>

<h1>Heroadventures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heroadventures.each do |heroadventure| %>
      <tr>
        <td><%= link_to 'Show', heroadventure %></td>
        <td><%= link_to 'Edit', edit_heroadventure_path(heroadventure) %></td>
        <td><%= link_to 'Destroy', heroadventure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heroadventure', new_heroadventure_path %>
