first force chosen
<%=form_with url: firstweakness_linkspousepeople_path do |form|%>
<%=form.hidden_field :personid, value: @person.id%>
<%=form.hidden_field :otherpersonid, value: @otherperson.id%>
<div class="field">
<%=render "form/checkbox", form: form, fieldname: 'forceid', collec: [], mesmodele:"people"%>
</div>

<%end%>

<%=content_for :myjscode do%>
<script>
<%@select=[forceid_linkspousepeople_path]%>
<%@search =[json_strengths_path]%>
<%@nom=['people']%>
<%=render partial:"form/functionjsonalbum", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>
