second sailor chosen
<%=form_with url: firstforce_linkspousepeople_path do |form|%>
<%=form.hidden_field :personid, value: @person.id%>
<div class="field">
<%=render "form/checkbox", form: form, fieldname: 'forceid', collec: [], mesmodele:"people"%>
</div>

<%end%>

<%=content_for :myjscode do%>
<script>
<%@select=[personid_categorythings_path]%>
<%@search =[personjson_albums_path]%>
<%@nom=['people']%>
<%=render partial:"form/functionjsonalbum", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>


