<%if t.alias%>
<%=render 'aliases/alias', a: t.alias%> a dit :
<%end%>

<%=t.content%><br>
<%if t.places.length > 0%>en parlant de <%=render t.places%>
<%end%>
<%if t.people.length > 0%>
à propos de
<%=render t.people%>

<%end%></li>
<br>
<%=link_to "voir le commentaire",t%>


