<p id="notice"><%= notice %></p>

<h1>Personhavelifestates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personhavelifestates.each do |personhavelifestate| %>
      <tr>
        <td><%= link_to 'Show', personhavelifestate %></td>
        <td><%= link_to 'Edit', edit_personhavelifestate_path(personhavelifestate) %></td>
        <td><%= link_to 'Destroy', personhavelifestate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personhavelifestate', new_personhavelifestate_path %>
