<p id="notice"><%= notice %></p>

<h1>Dupontsurnames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dupontsurnames.each do |dupontsurname| %>
      <tr>
        <td><%= dupontsurname.name %></td>
        <td><%= link_to 'Show', dupontsurname %></td>
        <td><%= link_to 'Edit', edit_dupontsurname_path(dupontsurname) %></td>
        <td><%= link_to 'Destroy', dupontsurname, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dupontsurname', new_dupontsurname_path %>
