<%= form_with(model: socialmovement, local: true) do |form| %>
  <% if socialmovement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(socialmovement.errors.count, "error") %> prohibited this socialmovement from being saved:</h2>

      <ul>
        <% socialmovement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= render "form/imagefield", form: form, myfield: "image", apercu: "apercu" %>
  </div>

  <div class="actions">
    <%= form.submit "create social movement" %>
  </div>
<% end %>
