<div class="mytwitteraccountpeople" data-id="<%=twitteraccount.id%>" >
  <div class="card">
    <div class="card-header" id="mypostsurnameaccordion<%=twitteraccount.id%>">
      <h5 class="mb-0">
compte twitter
</h5>


    </div>

    <div id="mypostsurnameaccordioncol<%=twitteraccount.id%>">
      <div class="card-body">
<p><%=twitteraccount.name%></p>
<p>@<%=twitteraccount.username%></p>
</div>
</div>
</div>
</div>
