<%= form_with(model: school, local: true) do |form| %>
  <% if school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
        <% school.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= render "form/imagefield", form: form, myfield: "image", apercu: "apercu" %>
  </div>
  <div class="field">
    <%= form.label :myphotos, "ajouter des photos de l'école" %>
    <%= form.file_field :myphotos, multiple: true %>
  </div>
  <div class="field">
<%=render "form/checkbox", form: form, fieldname: "person_ids", collec: school.people, mesmodele:"people"%>
</div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%=content_for :myjscode do%>
<script>
<%@search=[personjson_albums_path]%>
<%@select=[people_schools_path]%>
<%@nom=['people']%>
<%=render partial:"form/functionjson", collection: @nom.zip(@search, @select), as: :t%>
</script>
<%end%>

