<%= form_with(model: fakecomment, local: true) do |form| %>
  <% if fakecomment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fakecomment.errors.count, "error") %> prohibited this fakecomment from being saved:</h2>

      <ul>
        <% fakecomment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
