<%= form_with(model: hairlength, local: true) do |form| %>
  <% if hairlength.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hairlength.errors.count, "error") %> prohibited this hairlength from being saved:</h2>

      <ul>
        <% hairlength.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
