<%= form_with(model: country, local: true) do |form| %>
  <% if country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
        <% country.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% Country.locale_columns(:name).each do |column| %>

  <div class="field">
    <%= form.label column %>
    <%= form.text_field column %>
  </div>
<%end%>
  <div class="field">
    <%= form.label :mapicon %>
    <%= form.file_field :mapicon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
