
<%=form.fields_for :attitude do |f|%>
	<div class="field">


	<%= f.label :thing_id, "Stuff " %>
	<%= f.hidden_field :post_id, value:post.id %>
	<%@stuff.each_slice(6).to_a.each do |st|%>
	<div class="card-deck">
	<%= f.collection_radio_buttons(:thing_id, st, :id, :name) do |ff| %>
	<div class='stuffpost card'><%=ff.radio_button%><%=render Thing.find(ff.value)%></div>
	<%end%>
	</div>
	<%end%>
        </div>
	<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
	</div>
	<%= f.check_box '_destroy' %>
	<%= f.label '_destroy', 'Destroy this behaviour' %>
	<h3>Meaning</h3>
	<%=f.fields_for :attitude do |metonymy|%>
		<%= metonymy.hidden_field :post_id, value:post.id %>
		<div class="field">

		<%= metonymy.label :thing_id, "Stuff " %>
		<%@stuff.each_slice(6).to_a.each do |st|%>
		<div class="card-deck">
		<%= metonymy.collection_radio_buttons(:thing_id, st, :id, :name) do |ff| %>
		<div class='stuffpost card'><%=ff.radio_button%><%=render Thing.find(ff.value)%></div>
		<%end%>
		</div>
		<%end%>
		</div>




		<div class="field">
		<%= metonymy.label :name %>
		<%= metonymy.text_field :name %>
		</div>
		<div class="field">
		<%= metonymy.check_box '_destroy' %>
		<%= metonymy.label '_destroy', 'Destroy this behaviour' %>
		</div>


	<%end%>
<%end%>

