		<div class="auteur">
							<a href="/film/<%==surname.thingname.parameterize%>/<%==surname.surnamename.parameterize%>" title="Citations de <%==surname.surnamename%> (<%==surname.thingname%>)"><img src="<%=surname.image%>" alt="<%==surname.surnamename%> (<%==surname.thingname%>)" class="imgAuteur" style="" /></a> 
				<img src="/plugin/citation/view/resource/public/img/bulle_citationCharacter.png" alt="" />
							<br />
							<div class="additionalInformation" style=""><cite cite="<%==surname.surnamename%> (<%==surname.thingname%>)"><a href="/film/<%==surname.thingname.parameterize%>" title="Citations <%==surname.thingname%>" class="auteurLien"><%==surname.thingname%></a> - <character><a href="/personnage/<%==surname.surnamename.parameterize%>" title="Citations de <%==surname.surnamename%>"><%==surname.surnamename%></a></character></cite></div>
							<div class="additionalInformation" style=""><a href="/film" title="Citations de films et séries TV">Film / Série</a></div>		
                </div>
