<%= form.fields_for :fakecomments do |gg|%>
	<div class="field">

	<%= gg.label :author %>
	<%= gg.text_field :author %>
</div>
	<div class="field">

	<%= gg.label :content %>
	<%= gg.text_field :content %>
</div>
<%end%>

