
        <div class=" googlereqandres" role="tabpanel" aria-labelledby="nav10">
    
            <h2>Add google requests</h2>
            <button  type="button" onclick="$.ajax({type:'POST',url:window.location.pathname+'.js?addagooglerequest=true'});">add a google request</button>

    <%= form.fields_for :google_requests do |surname| %>
        <%= surname.label :name, "google requests that you mentioned" %>
        <%= surname.text_field :name %>

    Delete this google request : <%= surname.check_box :_destroy %>
      <%=surname.fields_for :googleresults do |googleres|%>
          <div>
        <%= googleres.label :title, "title for this google result" %>
        <%= googleres.text_field :title %>
      </div>
          <div>
        <%= googleres.label :content, "description for this google result" %>
        <%= googleres.text_field :content %>
      </div>
          <div>
        <%= googleres.label :date, "date for this google result" %>
        <%= googleres.text_field :date %>
      </div>
          <div>
        <%= googleres.label :url, "url for this google result" %>
        <%= googleres.text_field :url %>
      </div>

    <%end%>
    <%end%>
     
        </div>
