<div class="mypeople">
      <%= form.label :action_ids, "que fait le moussaillon" %>
      <%= form.collection_check_boxes(:action_ids, Task.where(id:post.action_ids), :id, :name) do |ff| %>
        <%=ff.check_box%>
<%=render Task.find(ff.value)%>
                            <%end%>
      </div>
      <div><%= text_field_tag :cherchonsparici, "",onchange:"cherchertasks(this,chercheparla);return false;", id: "cherchonsparici",class:"mysearchfieldavatars" %></div>
        <select onchange="selecttasks(this,avattasks);return false;" id="chercheparla" data-field="action_ids"></select>
<div id="avattasks"></div>
</div>
<%=content_for :myjscode do%>
<script>
function cherchertasks(field,all){
$.ajax({url: '<%=allmytasks_tasks_path%>?name='+field.value, 
success:function(data){
all.innerHTML="<option></option>";
var value, id;
for (var i=0;i<data.length;i++){
id=data[i].id;
name=data[i].name;
all.innerHTML+="<option value='"+id+"'>"+name+"</option>";
}
}});
};
function selecttasks(field,greatpeople){
$.ajax({url: '<%=allmytasks_posts_path%>?id='+field.value, 
success:function(data){
greatpeople.innerHTML+=data;
}});
};
</script>
<%end%>

