<%if @r.errors.messages.to_a.length > 0%><p><%=render @r%></p>
<br>
<br>
<br>
<%=render @emoticon%>
<br>
<p>c'est votre reponse ??</p>
<%@r.errors.messages.to_a.each do |e|%>
<p><%=e[1][0]%></p>
<%end%>
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Qui est <%=@r.myperson.nomdecettepersonne%> ?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
<%=render 'posts_surnames/mypostssurnames', person: @r.myperson%>
      </div>
    </div>
  </div>

</div>

<%=form_with url: myreactiontrueanswer_posts_path(reactiontrueimage_id: @r.id,person_id: @person.id) do |form|%>
<%@r.post.reactionpics.each do |emoticon|%>
<%=render 'people/picsby', person: @person%>
<input id="<%=emoticon.title.to_s.parameterize+emoticon.id.to_s%>" name="<%=emoticon.id%>emoticon" type="image" width="100" height="100" alt="<%=emoticon.title%>"
       src="<%=emoticon.image%>">

<%end%>
<%end%>
<%else%>
<p>g.g. <%=@person.name%> <%=render 'people/picsby', person: @person%>!!</p>
<br>
<div class="accordion" id="accordionPanelsStayOpenExample2">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Pour rappel : Qui est <%=@r.posts_surname.nomdecettepersonne%> ?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
<%=render 'posts_surnames/mypostssurnames', person: @r.posts_surname%>
      </div>
    </div>
  </div>

</div>
<div class="accordion" id="accordionPanelsStayOpenExample3">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          voir la réponse juste
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
<%=render 'reactiontrueimages/reactiontrueimagereponse', reactiontrueimage: @r%>
      </div>
    </div>
  </div>

</div>



<%end%>

