<p id="notice"><%= notice %></p>

<h1>Moviescenes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moviescenes.each do |moviescene| %>
      <tr>
        <td><%= moviescene.title %></td>
        <td><%= moviescene.description %></td>
        <td><%= link_to 'Show', moviescene %></td>
        <td><%= link_to 'Edit', edit_moviescene_path(moviescene) %></td>
        <td><%= link_to 'Destroy', moviescene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moviescene', new_moviescene_path %>
