<h1>Role des membres</h1>
<table>
  <tr>
    <th>Username</th>
    <th>Son Cuisinier</th>
    <th>Son homme/sa femme de menage</th>
    <th>Son client en tant que chef cuisinier</th>
    <th>A qui il/elle fait le menage</th>
  </tr>
<%User.all.each do |u|%>
  <tr>
    <td><%=u.name%></td>
    <td><%= u.cook ? u.cook.name : '-'%></td>
    <td><%= u.sailor ? u.sailor.name : '-'%></td>
    <td><%= u.client ? u.client.name : '-'%></td>
    <td><%= u.houseworkclient ? u.houseworkclient.name : '-'%></td>
  </tr>
<%end%>
</table>

<br>
<%=link_to "changer de cuisinier", madagascar_changecuisinier_path%>
<br>
<%=link_to "changer d'homme/de femme de menage", madagascar_changehommemenage_path%>

