<p id="notice"><%= notice %></p>

<p>
  <strong>Personhavelifestate:</strong>
  <%= @personhavelifestateshavephoto.personhavelifestate_id %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @personhavelifestateshavephoto.photo_id %>
</p>

<%= link_to 'Edit', edit_personhavelifestateshavephoto_path(@personhavelifestateshavephoto) %> |
<%= link_to 'Back', personhavelifestateshavephotos_path %>
