<p id="notice"><%= notice %></p>

<h1>Technologies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Description</th>
	<th colspan="<%= @tech ? 5 : 3%>"></th>
    </tr>
  </thead>

  <tbody>
    <% @technologies.each do |technology| %>
      <tr>
        <td><%= technology.name %></td>
        <td><%= technology.image %></td>
        <td><%= technology.description %></td>
        <td><%= link_to 'Show', technology %></td>
        <td><%= link_to 'Edit', edit_technology_path(technology) %></td>
        <td><%= link_to 'Destroy', technology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%if technology.type == "Technology"%>
        <td><%= button_to 'Hardware', becomes_technology_path(technology.id, mytype: "Hardwareitem"), method: :post, onclick: "return confirm('Are you sure?')" %></td>
<td><%= button_to 'Software', becomes_technology_path(technology.id, mytype: "Softwareitem"), method: :post, onclick: "return confirm('Are you sure?')" %></td>
<%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technology', new_technology_path %>
