<center>
<ul class="ultje">
<a rel="nofollow" href="<%=car.myimage%>"><img src="<%=car.myimage%>" rel="nofollow" class="img350 lazyloaded" alt="<%=car.myname%> / voiture
" "="" data-ll-status="loaded"><noscript><img src="<%=car_path(car.id)%>" rel='nofollow' class='img350' alt='<%=car.myname%> / voiture
' "/></noscript></a><br><br><i><%=car.myname%></i>
<br>
</ul>
</center>