<%= form_with(model: tendance, local: true) do |form| %>
  <% if tendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tendance.errors.count, "error") %> prohibited this tendance from being saved:</h2>

      <ul>
        <% tendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
