<p id="notice"><%= notice %></p>

<h1>Tendances</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tendances.each do |tendance| %>
      <tr>
        <td><%= tendance.content %></td>
        <td><%= link_to 'Show', tendance %></td>
        <td><%= link_to 'Edit', edit_tendance_path(tendance) %></td>
        <td><%= link_to 'Destroy', tendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tendance', new_tendance_path %>
