<h2>Take photos with the webcam</h2>
<video id="videowebcam"></video>
<button id="startbuttonwebcam" type="button">Prendre une photo</button>

<canvas id="canvaswebcam"></canvas>
<img src="" id="photowebcam" alt="photo">
  <div class="field">
    <%= form.label :photos %>
    <%= form.file_field :photos, multiple: true, id: "myselfie1" %>
  </div>

<div class="photosfield"></div>
<%= form.fields_for :photos do |photo|%>
  <div class="field">

<%= photo.label :file, "Nouvelle photo"%>
    <%= photo.file_field :file %>
  </div>

  <div class="field">
<%= photo.label :title,"Titre"%>
    <%= photo.text_field :title %>
  </div>

<%end%>
