<%= form_with(model: lifestateshaverequest, local: true) do |form| %>
  <% if lifestateshaverequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lifestateshaverequest.errors.count, "error") %> prohibited this lifestateshaverequest from being saved:</h2>

      <ul>
        <% lifestateshaverequest.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :personhavelifestate_id %>
    <%= form.number_field :personhavelifestate_id %>
  </div>

  <div class="field">
    <%= form.label :requeststoperson_id %>
    <%= form.number_field :requeststoperson_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
