<p id="notice"><%= notice %></p>

<p>
  <strong>Personhavelifestate:</strong>
  <%= @lifestateshaverequest.personhavelifestate_id %>
</p>

<p>
  <strong>Requeststoperson:</strong>
  <%= @lifestateshaverequest.requeststoperson_id %>
</p>

<%= link_to 'Edit', edit_lifestateshaverequest_path(@lifestateshaverequest) %> |
<%= link_to 'Back', lifestateshaverequests_path %>
