

	<main class="view__main " role="main">
				<a id="skip-to-content"></a>
				<nav class="breadcrumb">

	<div class="breadcrumb__wrap">

			<%= render partial: "nav/breadcrumbtheedit" %>


	</div>

</nav>









	
		
		
		
		
			

















<div class=" component component--wrap-fill component--space-normal component--feature-post">
			
	<div class="content-post__nav content-post__nav--top post-nav">
					<article class="content-post content-post--feature" role="article">

					<a class="post-nav__item post-nav__item--prev button button--secondary" href="/en/the-edit/women/mini-me/a/179c8743-3145-4b0a-8fa4-34db46ad7fb2?category=women">
						<i class="button__icon icon icon--prev-thin"></i>
						Prev Post
					</a>
				
				
					<a class="post-nav__item post-nav__item--next button button--secondary button--icon-right" href="/en/the-edit/women/roar-worthy/a/db04b0e9-3d5f-4f5a-83d1-1d2e96e9f46b?category=women">
						<i class="button__icon icon icon--next-thin"></i>
						Next Post
					</a>
				
			</div>
		<div class="component component--wrap-narrow component--space-normal">
                <div class="content-post__header">
                    <div class="content-post__category category-label">
                        <%=@art.mycategory.catname%>  
                    </div>
                    <h1 class="content-post__heading heading heading--post-title font-regular"><%=@art.mainHeading%></h1>
                    <p class="content-post__meta">By <%=@art.author[0].authorName%></p>
                </div>
            </div>
			
		
		
        <div class="component--full-width-background">
	
	

	

	


		
			
				<div class="component component--wrap-narrow component--space-normal">
			
			<div class="content-post__nav content-post__nav--top post-nav">
				
					<a class="post-nav__item post-nav__item--prev button button--secondary" href="/de/inspiration/inspiriert-mich/die-fakten/lern-die-familien-kennen/a/910f9244-a5d7-4af6-b93e-cd5a20141661?category=Die+Fakten&amp;type=Editorial">
						<i class="button__icon icon icon--prev-thin"></i>
						Vorheriger Beitrag
					</a>
				
				
					<a class="post-nav__item post-nav__item--next button button--secondary button--icon-right" href="/de/inspiration/inspiriert-mich/die-fakten/lerne-den-modefotografen-rankin-kennen/a/b1ede664-5ee5-4844-acc8-d0f6f3acb44c?category=Die+Fakten&amp;type=Editorial">
						<i class="button__icon icon icon--next-thin"></i>
						 Weiter
					</a>
				
			</div>
			
				</div>
			
		
		

        <div class="component component--wrap-narrow component--space-normal">
			
			
		<%if @art.contentincolumns.length > 0%>
		<%@art.contentincolumns.each_slice(2).to_a.each do |content|%>
                  <%=content[0] ? (render partial: "articles/twocontentsone", collection: [content[0]], as: :content) : ""%>
                  <%=content[1] ? (render partial: "articles/twocontentstwo", collection: [content[1]], as: :content) : ""%>
            <%end%>
            <%else%>
            
            <%end%>
                  <%=render partial: "contents/contenttheedit", collection: @art.contents, as: :content%>
				
				
			
					
					
					
					
					
					
					
				
			
				
				
				
				
					
					
					
					
					
					
					
					
						












    
        
    
    


    
        
    
    






					
					
					
					
					
				
			
				
				
				
				
					
					
					
					
					
					
					
					
						












    
        
    
    


    
        
    
    





					
					
					
					
					
				
			
				
				
				
				
					
					
					
					
					
					
					
					
						












    
        
    
    


    
        
    	

        </div>
	</article>
	</div>
</div>
		

	<div class=" component component--wrap-narrow component--space-normal component--feature-post">
			
		<article>
			<div class="content-post__social">

				
				









<div class=" component component--wrap-reset component--space-normal component--feature-post">
			
	
		


			
			

			<a class="post-nav__item post-nav__item--prev button button--tag js-button-tag" href="/de/tag/winter">
					#Winter
			</a>

		
	
</div>
		

				
				
					
						
							







<div class="social social__popup Xsocial--inline">
    <p class="social__heading heading heading--h6 heading--caps heading--flush">Teilen</p>
    <div class="social__toggle">
        <a class="social__toggle-button js-social__toggle-button">
            <i class="icon icon--share"></i>
        </a>
        <ul class="social__list social__list--hidden js-social__list">
            <li class="social__item">
                <a class="social__link fb-share-button" target="_blank" data-layout="button_count" data-social-share="{&quot;network&quot;: &quot;facebook&quot;}" href="https://www.facebook.com/sharer/sharer.php?u=https://www.primark.com/de/inspiration/inspiriert-mich/die-fakten/lerne-stylist-bevan-agyemang-kennen/a/04e3c393-7273-4e61-a5c5-69a50dc20888" rel="nofollow">
                <i class="icon icon--facebook"></i>
                    <span class="reader-only">Auf Facebook teilen</span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link js-social-share" href="http://twitter.com/share?url=https://www.primark.com/de/inspiration/inspiriert-mich/die-fakten/lerne-stylist-bevan-agyemang-kennen/a/04e3c393-7273-4e61-a5c5-69a50dc20888&amp;text=" data-social-share="{&quot;network&quot;: &quot;twitter&quot;}" target="_blank" rel="nofollow">
                    <i class="icon icon--twitter"></i>
                    <span class="reader-only">Auf Twitter tweeten</span>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link js-social-share" href="https://api.whatsapp.com/send?text=%20https://www.primark.com/de/inspiration/inspiriert-mich/die-fakten/lerne-stylist-bevan-agyemang-kennen/a/04e3c393-7273-4e61-a5c5-69a50dc20888" data-social-share="{&quot;network&quot;: &quot;whatsapp&quot;}" target="_blank" rel="nofollow">
                    <i class="icon icon--whatsapp"></i>
                    <span class="reader-only">Auf WhatsApp teilen</span>
                </a>                
            </li>
            
                <li class="social__item">
                    <a class="social__link js-social-share" href="http://pinterest.com/pin/create/button/?url=https://www.primark.com/de/inspiration/inspiriert-mich/die-fakten/lerne-stylist-bevan-agyemang-kennen/a/04e3c393-7273-4e61-a5c5-69a50dc20888&amp;description=&amp;media=https://primedia.primark.com/i/primark/bevan-1000x1000" data-social-share="{&quot;network&quot;: &quot;pinterest&quot;}" target="_blank" rel="nofollow">
                        <i class="icon icon--pinterest"></i>
                        <span class="reader-only">Auf Pinterest teilen</span>
                    </a>
                </li>
            
        </ul>
    </div>
</div>



						
						
					
				

			</div>

			
				













    
    
        
            
            
                <div class="author-profile">
                    
                        <a href="<%=@art.author[0].urlprofile%>">
                    
                    
                        

















	
	
	
	
	
	
	

	
		
		
		
			<span class="author-profile__image image-block">
				
















    
    
        















    
        
        
        
        
        
            <picture class="image-block__wrap" data-format="author" data-crop="true">
                
                    
                        <source srcset="<%=asset_path(@art.authorimages.first.name)%>" type="image/webp">
                        <source srcset="<%=asset_path(@art.authorimages.first.name)%>" type="image/jpeg">
                        <img class="image-block__image" src="<%=asset_path(@art.authorimages.first.name)%>" alt="<%=@art.author[0].authorName%>-Autor">
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                                    
                    
                    
                    
                    
                    
                    
                    
                    
                
            </picture>
        
    
    




    




			</span>
		
	





                    
                    <div class="author-profile__name heading heading--h5 heading--flush"><%=@art.author[0].authorName%></div>
                    <div class="author-profile__role"></div>
                    
                        <div class="author-profile__date">12/10/2020</div>
                    
                    
                        </a>
                    
                    <div class=" component component--wrap-narrow component--space-normal component--text-container">
			
                        








    
    
        
    


<div class="border-style--empty">
    
</div>



                    </div>
		
                </div>
            
        
    

			

			
				<div class="content-post__nav content-post__nav--bottom post-nav">
					
						<a class="post-nav__item post-nav__item--prev button button--secondary" href="/de/inspiration/inspiriert-mich/die-fakten/lern-die-familien-kennen/a/910f9244-a5d7-4af6-b93e-cd5a20141661?category=Die+Fakten&amp;type=Editorial">
							<i class="button__icon icon icon--prev-thin"></i>
							Vorheriger Beitrag
						</a>
					
					
						<a class="post-nav__item post-nav__item--next button button--secondary button--icon-right" href="/de/inspiration/inspiriert-mich/die-fakten/lerne-den-modefotografen-rankin-kennen/a/b1ede664-5ee5-4844-acc8-d0f6f3acb44c?category=Die+Fakten&amp;type=Editorial">
							<i class="button__icon icon icon--next-thin"></i>
							 Weiter
						</a>
					
				</div>
			
		</article>
	</div>
		

<div class=" component component--wrap-fill component--space-flush component--feature-related-post">
			
	
























	
	
	
        
    



	
	
		
	



	<div class="related">
		<div class="related__wrap">
			<div class="related__inner">
				<h2 class="related__heading heading heading--h4 heading--center">
					
						
							Ähnliche Beiträge
						
						
					
				</h2>
				
				<div class="related__main">
					<div class="related__carousel js-related__carousel js-owl-carousel owl-carousel js-owl-related-posts-four owl-loaded owl-drag" data-controls="{&quot;controlsPrev&quot;: text.previous.button, &quot;controlsNext&quot;: text.next.button}">
						
							















	
		
	
	





						
							















	
		
	
	





						
							















	
		
	
	





						
					<div class="owl-wrapper-outer"><div class="owl-wrapper" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 807px;">
                                                
      <%=render partial: "articles/articlesuggestion", collection: @art.suggestions(3), as: :post%>

                                                
                                                </div></div><div class="owl-controls disabled" style="display: none;"><button type="button" role="presentation" class="owl-prev disabled"><i class="icon icon--prev-thin"></i><span class="reader-only">undefined</span></button><button type="button" role="presentation" class="owl-next disabled"><i class="icon icon--next-thin"></i><span class="reader-only">undefined</span></button></div><div class="owl-dots disabled"></div></div>
				</div>
			</div>
		</div>
		
			<span class="related__background related__background--half-height" style="background-color: #EDEDED"></span>
		
	</div>

</div>
		


			<div class="scroll-top scroll-top--space-none" style="display: block;">
	<div class="scroll-top__wrap">
		<a href="#page" class="scroll-top__button button button--primary button--icon-right js-scroll-top" role="button">
			<i class="button__icon icon icon--scroll-top-invert"></i>
			<span class="reader-only">Zurück nach oben</span>
		</a>
	</div>
</div>



		
		
	



<div class="scroll-top " style="display: block;">
	<div class="scroll-top__wrap">
		<a href="#page" class="scroll-top__button button button--primary button--icon-right js-scroll-top" role="button">
			<i class="button__icon icon icon--scroll-top-invert"></i>
			<span class="reader-only">Zurück nach oben</span>
		</a>
	</div>
</div>


</main>



<%=content_for :allthescripts do%>
		<script type="text/template" class="js-view-off-canvas-template">
			<div class="view__off-canvas" tabindex="0">
				<div class="off-canvas-nav js-off-canvas-nav" data-off-canvas-nav='{"showPanelClass": "off-canvas-nav--show-panel", "showPanelItemClass": "off-canvas-nav__item--show-panel"}'>
					<div class="off-canvas-nav__header">
						<button class="off-canvas-nav__back handle js-off-canvas-nav-back">
							<i class="icon icon--prev"></i>
							<span class="reader-only">
								back</span>
						</button>
						<h3 class="off-canvas-nav__title js-off-canvas-nav-title">
							Menu principal</h3>
						<button class="off-canvas-nav__close handle js-view-off-canvas-toggle" aria-label="menu.button.close">
							<i class="icon icon--close-invert"></i>
							<span class="reader-only">
								close</span>
						</button>
					</div>
					<ol class="off-canvas-nav__list js-off-canvas-nav-list"></ol>
				</div>
			</div>
		</script>

	<script>
		/*<![CDATA[*/
		
		var ACC = { config: {} };
			ACC.config.contextPath = '';
			ACC.config.encodedContextPath = '\/<%=@localevalue%>';
			ACC.config.commonResourcePath = '\/_ui\/responsive\/common';
			ACC.config.themeResourcePath = '\/_ui\/responsive\/theme-primark';
			ACC.config.siteResourcePath = '\/_ui\/responsive\/site-primark-fr';
			ACC.config.rootPath = '\/_ui\/responsive';
			ACC.config.CSRFToken = '';
			ACC.pwdStrengthVeryWeak = 'password.strength.veryweak';
			ACC.pwdStrengthWeak = 'password.strength.weak';
			ACC.pwdStrengthMedium = 'password.strength.medium';
			ACC.pwdStrengthStrong = 'password.strength.strong';
			ACC.pwdStrengthVeryStrong = 'password.strength.verystrong';
			ACC.pwdStrengthUnsafePwd = 'password.strength.unsafepwd';
			ACC.pwdStrengthTooShortPwd = 'password.strength.tooshortpwd';
			ACC.pwdStrengthMinCharText = 'password.strength.minchartext';
			ACC.accessibilityLoading = 'aria.pickupinstore.loading';
			ACC.accessibilityStoresLoaded = 'aria.pickupinstore.storesloaded';
			ACC.config.googleApiKey='';
			ACC.config.googleApiVersion='';

			
			ACC.autocompleteUrl = '\/<%=@localevalue%>\/search\/autocompleteSecure';

			
			ACC.config.loginUrl = '\/<%=@localevalue%>\/login';

			
			ACC.config.authenticationStatusUrl = '\/<%=@localevalue%>\/authentication\/status';

			
			
			ACC.config.sustainableKey = 'Produits durables';
			ACC.config.sustainableProductLink = 'View product';
			ACC.config.featureBannerLink = 'En savoir plus';
		/*]]>*/
	</script>
	<script>
	/*<![CDATA[*/
	ACC.addons = {};	//JS namespace for addons properties

	
		ACC.addons['glexceptionmonitoringaddon'] = [];
		
		ACC.addons['ampliencedmaddon'] = [];
		
		ACC.addons['smarteditaddon'] = [];
		
		ACC.addons['eventtrackingwsaddon'] = [];
		
		ACC.addons['hybrisanalyticsaddon'] = [];
		
	/*]]>*/
</script>
<script src="https://www.primark.com/_ui/shared/js/generatedVariables.js"></script>
	<script src="https://www.primark.com/_ui/shared/js/analyticsmediator.js"></script>
<link rel="preload" href="https://www.primark.com/_ui/responsive/common/js/jquery-3.5.1.min.js" as="script">
		<link rel="preload" href="https://www.primark.com/_ui/responsive/common/js/jquery.cookie.min.js" as="script">
		<link rel="preload" href="https://www.primark.com/_ui/responsive/common/js/acc.navigation.js" as="script">
		<link rel="preload" href="https://www.primark.com/_ui/responsive/common/js/jquery.hoverIntent.js" as="script">
		<link rel="preload" href="https://www.primark.com/_ui/responsive/common/js/acc.autocomplete.js" as="script">
		<script src="https://www.primark.com/_ui/responsive/common/js/jquery-3.5.1.min.js"></script>

		<script src="https://www.primark.com/_ui/responsive/common/js/enquire.min.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/Imager.min.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/purify.min.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/jquery.blockUI-2.66.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/jquery.cookie.min.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/jquery.doc.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/jquery.form.min.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/jquery.hoverIntent.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/jquery-ui-1.12.1.min.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/owl.carousel.custom.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/jquery.colorbox-min.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.accordion.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.autocomplete.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.carousel.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.cms.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.common.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.cookienotification.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.form.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.global.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.navigation.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.sanitizer.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.tracking.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.sizeguide.js"></script>

		<script src="https://www.primark.com/_ui/responsive/common/js/acc.colorbox.js"></script>
		<script src="https://www.primark.com/_ui/responsive/common/js/acc.advent.js"></script>

		<script src="https://www.primark.com/_ui/responsive/common/js/_autoload.js"></script>

		<script src="https://www.primark.com/_ui/addons/glexceptionmonitoringaddon/responsive/common/js/glexceptionmonitoringaddon.js"></script>
		<script src="https://www.primark.com/_ui/addons/ampliencedmaddon/shared/common/js/ecommBridge.js"></script>
		<script src="https://www.primark.com/_ui/addons/ampliencedmaddon/shared/common/js/bindComponents.js"></script>
		<script src="https://www.primark.com/_ui/addons/captchaaddon/responsive/common/js/captchaaddon.js"></script>
		<script src="https://www.primark.com/_ui/addons/hybrisanalyticsaddon/responsive/common/js/hybrisanalyticsaddon.js"></script>
		<script src="https://www.primark.com/_ui/addons/hybrisanalyticsaddon/shared/common/js/piwik-min.js"></script>
		<script src="https://www.primark.com/_ui/addons/sapymktrecommendationaddon/shared/common/js/sapymktrecommendationaddon.js"></script>
		<script src="https://www.primark.com/_ui/addons/smarteditaddon/shared/common/js/webApplicationInjector.js"></script>
		<script src="https://www.primark.com/_ui/addons/smarteditaddon/shared/common/js/reprocessPage.js"></script>
		<script src="https://www.primark.com/_ui/addons/smarteditaddon/shared/common/js/adjustComponentRenderingToSE.js"></script>
		<script src="https://www.primark.com/_ui/addons/smarteditaddon/responsive/common/js/smarteditaddon.js"></script>
		<!--
Begin Amplience ecommBridge
-->

<script>
	if (!window.ecommBridge)
	{
		window.ecommBridge = {};
	}

	window.ecommBridge.accountConfig = {
		client: "primark",
		imageBasePath: "//primedia.primark.com/",
		contentBasePath: "//c1.adis.ws/"
	};

	window.ecommBridge.site.locale = "fr-*,en-*,*";

	window.ecommBridge.site.currency = {
		"code": "EUR",
		"prefix": "\u20AC ",
		"suffix": ""
	};

	window.ecommBridge.site.page = {
		
		"type": "standalone-page",
		"id": "ampliencePage",
		"name": "Amplience Page"
		
	};
</script>

<!--
End Amplience ecommBridge
-->
<%end%>

<%= content_for :stylesheetsjs do %>
<link rel="icon" href="https://www.primark.com/_ui/responsive/theme-primark/images/favicon.ico" />

		<link rel="stylesheet" href="https://www.primark.com/_ui/responsive/theme-primark/css/style.css" />
		<link rel="stylesheet" href="https://use.typekit.net/mml2gde.css">
		<link rel="preload" href="https://www.primark.com/_ui/responsive/theme-primark/fonts/ArialMTPro-ExtraBoldCond.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="https://www.primark.com/_ui/responsive/theme-primark/fonts/ArialMTPro-ExtraBoldCond.woff" as="font" type="font/woff" crossorigin>
		<link rel="stylesheet" href="https://www.primark.com/_ui/addons/glexceptionmonitoringaddon/responsive/common/css/glexceptionmonitoringaddon.css" />
							<link rel="stylesheet" href="https://www.primark.com/_ui/addons/ampliencedmaddon/shared/common/css/rendering-kit/viewer.css" />
							<link rel="stylesheet" href="https://www.primark.com/_ui/addons/hybrisanalyticsaddon/responsive/common/css/hybrisanalyticsaddon.css" />
							<link rel="stylesheet" href="https://www.primark.com/_ui/addons/smarteditaddon/responsive/common/css/smarteditaddon.css" />
							<script>

var googleAnalyticsTrackingId = 'your_google_analytics_tracking_id';

var _gaq = _gaq || [];
_gaq.push(['_setAccount', googleAnalyticsTrackingId]);


		_gaq.push(['_trackPageview']);
	

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

<script>

		var dataLayer = dataLayer || [];

		
			dataLayer.push({'pageType': 'feature'});
			dataLayer.push({'featureID': 'inspirez-moi'});
			dataLayer.push({'featureName': 'Inspire Me'});
				</script>

	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-T7JD7G');</script>

	<noscript>
		<iframe src="//www.googletagmanager.com/ns.html?id=GTM-T7JD7G" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>

<meta name="google-site-verification" content="vR24HgAYET6Gzo3XJIvi-D-u0NhWYBrGJpmuCSly9bk" />

        <script type="text/javascript" src="//c.webtrends-optimize.com/acs/accounts/96b8abf4-5366-4a7b-9830-6a343bd5c891/js/wt.js"></script>
<%end%>
