<!DOCTYPE html>
<!-- saved from url=(0050)https://madagascar.webcup.fr/team-webcup/unknown-2 -->
<html lang="fr" class="quform-js"><!--<![endif]--><!-- BEGIN HEAD --><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            
            <title>Unknown | WebCup Madagascar</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
            
            
            <script type="text/javascript" async="" src="/UnknownWebCupMadagascar.html_files/analytics.js" nonce="qLb5up74"></script><script src="/UnknownWebCupMadagascar.html_files/sdk.js" async="" crossorigin="anonymous"></script><script async="" src="/UnknownWebCupMadagascar.html_files/widget.js"></script><script async="" src="/UnknownWebCupMadagascar.html_files/widget.js"></script><script>!function(e,c){e[c]=e[c]+(e[c]&&" ")+"quform-js"}(document.documentElement,"className");</script><meta name="robots" content="max-image-preview:large">
<link rel="stylesheet" id="wp-block-library-css" href="/UnknownWebCupMadagascar.html_files/style.min.css" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-vendors-style-css" href="/UnknownWebCupMadagascar.html_files/wc-blocks-vendors-style.css" type="text/css" media="all">
<link rel="stylesheet" id="wc-blocks-style-css" href="/UnknownWebCupMadagascar.html_files/wc-blocks-style.css" type="text/css" media="all">
<style id="global-styles-inline-css" type="text/css">
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
</style>
<link rel="stylesheet" id="likebtn_style-css" href="/UnknownWebCupMadagascar.html_files/style.css" type="text/css" media="all">
<link rel="stylesheet" id="woocommerce-layout-css" href="/UnknownWebCupMadagascar.html_files/woocommerce-layout.css" type="text/css" media="all">
<link rel="stylesheet" id="woocommerce-smallscreen-css" href="/UnknownWebCupMadagascar.html_files/woocommerce-smallscreen.css" type="text/css" media="only screen and (max-width: 768px)">
<link rel="stylesheet" id="woocommerce-general-css" href="/UnknownWebCupMadagascar.html_files/woocommerce.css" type="text/css" media="all">
<style id="woocommerce-inline-inline-css" type="text/css">
.woocommerce form .form-row .required { visibility: visible; }
</style>
<link rel="stylesheet" id="quform-css" href="/UnknownWebCupMadagascar.html_files/quform.5.css" type="text/css" media="all">
<link rel="stylesheet" id="GoogleFont-css" href="/UnknownWebCupMadagascar.html_files/css" type="text/css" media="all">
<link rel="stylesheet" id="GoogleFont_2-css" href="/UnknownWebCupMadagascar.html_files/css(1)" type="text/css" media="all">
<link rel="stylesheet" id="socicon-css" href="/UnknownWebCupMadagascar.html_files/socicon.css" type="text/css" media="all">
<link rel="stylesheet" id="bootstrap-social-css" href="/UnknownWebCupMadagascar.html_files/bootstrap-social.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="/UnknownWebCupMadagascar.html_files/font-awesome.min.css" type="text/css" media="all">
<link rel="stylesheet" id="simple-line-icons-css" href="/UnknownWebCupMadagascar.html_files/simple-line-icons.min.css" type="text/css" media="all">
<link rel="stylesheet" id="animate-css" href="/UnknownWebCupMadagascar.html_files/animate.min.css" type="text/css" media="all">
<link rel="stylesheet" id="popup-css" href="/UnknownWebCupMadagascar.html_files/magnific-popup.css" type="text/css" media="all">
<link rel="stylesheet" id="bootstrap-css" href="/UnknownWebCupMadagascar.html_files/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" id="settings-css" href="/UnknownWebCupMadagascar.html_files/settings.css" type="text/css" media="all">
<link rel="stylesheet" id="layers-css" href="/UnknownWebCupMadagascar.html_files/layers.css" type="text/css" media="all">
<link rel="stylesheet" id="navigation-css" href="/UnknownWebCupMadagascar.html_files/navigation.css" type="text/css" media="all">
<link rel="stylesheet" id="cubeportfolio-css" href="/UnknownWebCupMadagascar.html_files/cubeportfolio.min.css" type="text/css" media="all">
<link rel="stylesheet" id="carousel-css" href="/UnknownWebCupMadagascar.html_files/owl.carousel.css" type="text/css" media="all">
<link rel="stylesheet" id="slider-css" href="/UnknownWebCupMadagascar.html_files/slider.css" type="text/css" media="all">
<link rel="stylesheet" id="fancybox-css" href="/UnknownWebCupMadagascar.html_files/jquery.fancybox.css" type="text/css" media="all">
<link rel="stylesheet" id="plugins-css" href="/UnknownWebCupMadagascar.html_files/plugins.css" type="text/css" media="all">
<link rel="stylesheet" id="components-css" href="/UnknownWebCupMadagascar.html_files/components.css" type="text/css" media="all">
<link rel="stylesheet" id="dynamic-components-css" href="/UnknownWebCupMadagascar.html_files/dynamic-components.php" type="text/css" media="all">
<link rel="stylesheet" id="custom-color-css" href="/UnknownWebCupMadagascar.html_files/red1.css" type="text/css" media="all">
<link rel="stylesheet" id="dynamic-color-css" href="/UnknownWebCupMadagascar.html_files/dynamic-red1.php" type="text/css" media="all">
<link rel="stylesheet" id="custom-css" href="/UnknownWebCupMadagascar.html_files/custom.css" type="text/css" media="all">
<link rel="stylesheet" id="wp-color-picker-css" href="/UnknownWebCupMadagascar.html_files/color-picker.min.css" type="text/css" media="all">
<script type="text/javascript" id="likebtn_frontend-js-extra">
/* <![CDATA[ */
var likebtn_eh_data = {"ajaxurl":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php","security":"45bc554295"};
/* ]]> */
</script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/frontend.js" id="likebtn_frontend-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.min.js" id="jquery-core-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery-migrate.min.js" id="jquery-migrate-js"></script>
<script type="text/javascript" id="acf-woocommerce-product-variable-js-extra">
/* <![CDATA[ */
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
var acf_for_woo_obj = {"url":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/acf-woocommerce-product-variable.js" id="acf-woocommerce-product-variable-js"></script>
<link rel="canonical" href="https://madagascar.webcup.fr/team-webcup/unknown-2">
<link rel="shortlink" href="https://madagascar.webcup.fr/?p=3340">
	<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
	            
        
           
                
<!-- shortcut icon -->
<link rel="shortcut icon" type="image/ico" href="https://www.webcup.fr/webcup_logo_ok.ico">
 <!-- facebook meta -->

<meta property="og:url" content="https://madagascar.webcup.fr/team-webcup/unknown-2">
<meta property="og:type" content="website">
<meta property="og:title" content=" TEAM Unknown WEBCUP 2022">
<meta property="og:description" content="Vous appréciez la Team Unknown et ses travaux ? Voter pour elle, grâce à votre like elle pourra peut-être gagner le prix de la viralité !">

<meta property="og:image" content="https://madagascar.webcup.fr/wp-content/uploads/sites/5/2022/05/cup.png">

  

<style id="iris-css">.iris-picker{display:block;position:relative}.iris-picker,.iris-picker *{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input+.iris-picker{margin-top:4px}.iris-error{background-color:#ffafaf}.iris-border{border-radius:3px;border:1px solid #aaa;width:200px;background-color:#fff}.iris-picker-inner{position:absolute;top:0;right:0;left:0;bottom:0}.iris-border .iris-picker-inner{top:10px;right:10px;left:10px;bottom:10px}.iris-picker .iris-square-inner{position:absolute;left:0;right:0;top:0;bottom:0}.iris-picker .iris-square,.iris-picker .iris-slider,.iris-picker .iris-square-inner,.iris-picker .iris-palette{border-radius:3px;box-shadow:inset 0 0 5px rgba(0,0,0,.4);height:100%;width:12.5%;float:left;margin-right:5%}.iris-only-strip .iris-slider{width:100%}.iris-picker .iris-square{width:76%;margin-right:10%;position:relative}.iris-only-strip .iris-square{display:none}.iris-picker .iris-square-inner{width:auto;margin:0}.iris-ie-9 .iris-square,.iris-ie-9 .iris-slider,.iris-ie-9 .iris-square-inner,.iris-ie-9 .iris-palette{box-shadow:none;border-radius:0}.iris-ie-9 .iris-square,.iris-ie-9 .iris-slider,.iris-ie-9 .iris-palette{outline:1px solid rgba(0,0,0,.1)}.iris-ie-lt9 .iris-square,.iris-ie-lt9 .iris-slider,.iris-ie-lt9 .iris-square-inner,.iris-ie-lt9 .iris-palette{outline:1px solid #aaa}.iris-ie-lt9 .iris-square .ui-slider-handle{outline:1px solid #aaa;background-color:#fff;-ms-filter:"alpha(Opacity=30)"}.iris-ie-lt9 .iris-square .iris-square-handle{background:0 0;border:3px solid #fff;-ms-filter:"alpha(Opacity=50)"}.iris-picker .iris-strip{margin-right:0;position:relative}.iris-picker .iris-strip .ui-slider-handle{position:absolute;background:0 0;margin:0;right:-3px;left:-3px;border:4px solid #aaa;border-width:4px 3px;width:auto;height:6px;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.2);opacity:.9;z-index:5;cursor:ns-resize}.iris-strip-horiz .iris-strip .ui-slider-handle{right:auto;left:auto;bottom:-3px;top:-3px;height:auto;width:6px;cursor:ew-resize}.iris-strip .ui-slider-handle:before{content:" ";position:absolute;left:-2px;right:-2px;top:-3px;bottom:-3px;border:2px solid #fff;border-radius:3px}.iris-picker .iris-slider-offset{position:absolute;top:11px;left:0;right:0;bottom:-3px;width:auto;height:auto;background:transparent;border:0;border-radius:0}.iris-strip-horiz .iris-slider-offset{top:0;bottom:0;right:11px;left:-3px}.iris-picker .iris-square-handle{background:transparent;border:5px solid #aaa;border-radius:50%;border-color:rgba(128,128,128,.5);box-shadow:none;width:12px;height:12px;position:absolute;left:-10px;top:-10px;cursor:move;opacity:1;z-index:10}.iris-picker .ui-state-focus .iris-square-handle{opacity:.8}.iris-picker .iris-square-handle:hover{border-color:#999}.iris-picker .iris-square-value:focus .iris-square-handle{box-shadow:0 0 2px rgba(0,0,0,.75);opacity:.8}.iris-picker .iris-square-handle:hover::after{border-color:#fff}.iris-picker .iris-square-handle::after{position:absolute;bottom:-4px;right:-4px;left:-4px;top:-4px;border:3px solid #f9f9f9;border-color:rgba(255,255,255,.8);border-radius:50%;content:" "}.iris-picker .iris-square-value{width:8px;height:8px;position:absolute}.iris-ie-lt9 .iris-square-value,.iris-mozilla .iris-square-value{width:1px;height:1px}.iris-palette-container{position:absolute;bottom:0;left:0;margin:0;padding:0}.iris-border .iris-palette-container{left:10px;bottom:10px}.iris-picker .iris-palette{margin:0;cursor:pointer}.iris-square-handle,.ui-slider-handle{border:0;outline:0}</style><style type="text/css">.fancybox-margin{margin-right:20px;}</style><link type="text/css" rel="stylesheet" href="/UnknownWebCupMadagascar.html_files/widget.css"><link type="text/css" rel="stylesheet" href="/UnknownWebCupMadagascar.html_files/effect.css"><style type="text/css" data-fbcssmodules="css:fb.css.base css:fb.css.dialog css:fb.css.iframewidget css:fb.css.customer_chat_plugin_iframe">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_dialog_advanced{border-radius:8px;padding:10px}.fb_dialog_content{background:#fff;color:#373737}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{left:5px;right:auto;top:5px}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{height:100%;left:0;margin:0;overflow:visible;position:absolute;top:-10000px;transform:none;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{background:none;height:auto;min-height:initial;min-width:initial;width:auto}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{clear:both;color:#fff;display:block;font-size:18px;padding-top:20px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .4);bottom:0;left:0;min-height:100%;position:absolute;right:0;top:0;width:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_mobile .fb_dialog_iframe{position:sticky;top:0}.fb_dialog_content .dialog_header{background:linear-gradient(from(#738aba), to(#2c4987));border-bottom:1px solid;border-color:#043b87;box-shadow:white 0 1px 1px -1px inset;color:#fff;font:bold 14px Helvetica, sans-serif;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:linear-gradient(from(#4267B2), to(#2a4887));background-clip:padding-box;border:1px solid #29487d;border-radius:3px;display:inline-block;line-height:18px;margin-top:3px;max-width:85px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{background:none;border:none;color:#fff;font:bold 12px Helvetica, sans-serif;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #4a4a4a;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f5f6f7;border:1px solid #4a4a4a;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-position:50% 50%;background-repeat:no-repeat;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}
.fb_mpn_mobile_landing_page_slide_out{animation-duration:200ms;animation-name:fb_mpn_landing_page_slide_out;transition-timing-function:ease-in}.fb_mpn_mobile_landing_page_slide_out_from_left{animation-duration:200ms;animation-name:fb_mpn_landing_page_slide_out_from_left;transition-timing-function:ease-in}.fb_mpn_mobile_landing_page_slide_up{animation-duration:500ms;animation-name:fb_mpn_landing_page_slide_up;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_in{animation-duration:300ms;animation-name:fb_mpn_bounce_in;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_out{animation-duration:300ms;animation-name:fb_mpn_bounce_out;transition-timing-function:ease-in}.fb_mpn_mobile_bounce_out_v2{animation-duration:300ms;animation-name:fb_mpn_fade_out;transition-timing-function:ease-in}.fb_customer_chat_bounce_in_v2{animation-duration:300ms;animation-name:fb_bounce_in_v2;transition-timing-function:ease-in}.fb_customer_chat_bounce_in_from_left{animation-duration:300ms;animation-name:fb_bounce_in_from_left;transition-timing-function:ease-in}.fb_customer_chat_bounce_out_v2{animation-duration:300ms;animation-name:fb_bounce_out_v2;transition-timing-function:ease-in}.fb_customer_chat_bounce_out_from_left{animation-duration:300ms;animation-name:fb_bounce_out_from_left;transition-timing-function:ease-in}.fb_invisible_flow{display:inherit;height:0;overflow-x:hidden;width:0}@keyframes fb_mpn_landing_page_slide_out{0%{margin:0 12px;width:100% - 24px}60%{border-radius:18px}100%{border-radius:50%;margin:0 24px;width:60px}}@keyframes fb_mpn_landing_page_slide_out_from_left{0%{left:12px;width:100% - 24px}60%{border-radius:18px}100%{border-radius:50%;left:12px;width:60px}}@keyframes fb_mpn_landing_page_slide_up{0%{bottom:0;opacity:0}100%{bottom:24px;opacity:1}}@keyframes fb_mpn_bounce_in{0%{opacity:.5;top:100%}100%{opacity:1;top:0}}@keyframes fb_mpn_fade_out{0%{bottom:30px;opacity:1}100%{bottom:0;opacity:0}}@keyframes fb_mpn_bounce_out{0%{opacity:1;top:0}100%{opacity:.5;top:100%}}@keyframes fb_bounce_in_v2{0%{opacity:0;transform:scale(0, 0);transform-origin:bottom right}50%{transform:scale(1.03, 1.03);transform-origin:bottom right}100%{opacity:1;transform:scale(1, 1);transform-origin:bottom right}}@keyframes fb_bounce_in_from_left{0%{opacity:0;transform:scale(0, 0);transform-origin:bottom left}50%{transform:scale(1.03, 1.03);transform-origin:bottom left}100%{opacity:1;transform:scale(1, 1);transform-origin:bottom left}}@keyframes fb_bounce_out_v2{0%{opacity:1;transform:scale(1, 1);transform-origin:bottom right}100%{opacity:0;transform:scale(0, 0);transform-origin:bottom right}}@keyframes fb_bounce_out_from_left{0%{opacity:1;transform:scale(1, 1);transform-origin:bottom left}100%{opacity:0;transform:scale(0, 0);transform-origin:bottom left}}@keyframes slideInFromBottom{0%{opacity:.1;transform:translateY(100%)}100%{opacity:1;transform:translateY(0)}}@keyframes slideInFromBottomDelay{0%{opacity:0;transform:translateY(100%)}97%{opacity:0;transform:translateY(100%)}100%{opacity:1;transform:translateY(0)}}</style></head>
 

<body data-rsssl="1" class="c-layout-header-fixed c-layout-header-mobile-fixed c-layout-header-fullscreen" style="zoom: 1;"> 

  
<div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; width: 0px; height: 0px;"><div></div></div></div>

<script async="" defer="" crossorigin="anonymous" src="/UnknownWebCupMadagascar.html_files/sdk(1).js" nonce="qLb5up74"></script>
<!-- BEGIN: LAYOUT/HEADERS/HEADER-ONEPAGE -->
<!-- BEGIN: HEADER -->
<header class="c-layout-header c-layout-header-onepage c-layout-header-4 c-layout-header-default-mobile" id="home" data-minimize-offset="40">
	<div class="c-navbar">
		<div class="container">
			<!-- BEGIN: BRAND -->
			<div class="c-navbar-wrapper clearfix">
				<div class="c-brand c-pull-left">
					<a href="https://madagascar.webcup.fr/" class="c-logo">
					<img src="/UnknownWebCupMadagascar.html_files/LOGO-WEBCUP-MADAGASCAR.png" alt="WebCup Madagascar" class="c-desktop-logo">
						<img src="/UnknownWebCupMadagascar.html_files/LOGO-WEBCUP-MADAGASCAR.png" alt="WebCup Madagascar" class="c-desktop-logo-inverse">
						<img src="/UnknownWebCupMadagascar.html_files/LOGO-WEBCUP-MADAGASCAR.png" alt="WebCup Madagascar" class="c-mobile-logo">
					</a>					
					<button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
					<span class="c-line"></span>
					<span class="c-line"></span>
					<span class="c-line"></span>
					</button>		
				
				</div>
				<!-- END: BRAND -->				

<!-- BEGIN: MEGA MENU -->
<nav class="c-mega-menu c-mega-menu-onepage c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold" data-onepage-animation-speed="700">
	<ul class="nav navbar-nav c-theme-nav"> 
		<li class="c-onepage-link c-active">
			<a href="https://madagascar.webcup.fr/team-webcup/unknown-2#home" class="c-link">Accueil</a>
		</li>
						<li class="c-onepage-link">
			<a href="https://madagascar.webcup.fr/team-webcup/unknown-2#presentation" class="c-link">Présentation</a>
		</li>
						<li class="c-onepage-link">
			<a href="https://madagascar.webcup.fr/team-webcup/unknown-2#portofolio" class="c-link">Portfolio</a>
		</li>
						<li class="c-onepage-link">
			<a href="https://madagascar.webcup.fr/team-webcup/unknown-2#video" class="c-link">Vidéo</a>
		</li>
						<li class="c-onepage-link">
			<a href="https://madagascar.webcup.fr/team-webcup/unknown-2#description" class="c-link">Description</a>
		</li>
						<li class="c-onepage-link">
			<a href="https://madagascar.webcup.fr/team-webcup/unknown-2#team" class="c-link">Notre Team</a>
		</li>
			
</ul>
</nav>

<!-- END: MEGA MENU --><!-- END: LAYOUT/HEADERS/MEGA-MENU-ONEPAGE -->
				<!-- END: HOR NAV -->		
			</div>
		</div>
	</div>
</header>
<!-- END: HEADER --><!-- END: LAYOUT/HEADERS/HEADER-ONEPAGE -->
	



<!-- BEGIN: PAGE CONTAINER -->
<style type="text/css">
	.c-content-tab-3 > .c-tab-content {
    padding: 30px 0 20px 0;
}
</style>

<div class="c-layout-page" style="margin-top: 100px;">
 <!--<pre></pre>-->
  <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-4 -->
  <section class="c-layout-revo-slider c-layout-revo-slider-4" dir="ltr">
		<div class="forcefullwidth_wrapper_tp_banner" style="position:relative;width:100%;height:auto;margin-top:0px;margin-bottom:0px"><div class="tp-banner-container tp-mouseover" style="margin-top: 0px; margin-bottom: 0px; position: absolute; overflow: visible; width: 960px; left: 0px;">
			<div class="tp-banner rev_slider revslider-initialised tp-simpleresponsive" data-version="5.0" id="revslider-462" data-slideactive="rs-738544" style="display: block; max-height: 500px; margin-top: 0px; margin-bottom: 0px; height: 500px;">
				<ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;">
					<!--BEGIN: SLIDE #1 -->
					<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
						<div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; backface-visibility: hidden; transform: translate3d(0px, 0px, 0px); visibility: inherit; opacity: 1;"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img alt="" src="<%=@frontpage.groupphoto%>" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="defaultimg">--><div class="tp-bgimg defaultimg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;<%=@frontpage.groupphoto%>&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="<%=@frontpage.groupphoto%>"></div></div>   
						<div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 238px; top: -4px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="visibility: inherit; transition: none 0s ease 0s; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 17px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
							<h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
							  TEAM Unknown<br>WEBCUP 2022
							</h3>
						</div></div></div></div>
						<div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 408px; top: 333px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" style="visibility: inherit; transition: none 0s ease 0s; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 17px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
							<a href="https://nexus.iteam-s.mg/" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase">VOIR NOTRE SITE</a>
						</div></div></div></div>
					</li>
					<!--END -->  

					<!--BEGIN: SLIDE #2 -->
					<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
						<div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; backface-visibility: hidden; transform: translate3d(0px, 0px, 0px); visibility: inherit; opacity: 1;"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img alt="" src="https://madagascar.webcup.fr/wp-content/uploads/sites/5/2022/05/slide2-1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="defaultimg">--><div class="tp-bgimg defaultimg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://madagascar.webcup.fr/wp-content/uploads/sites/5/2022/05/slide2-1.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://madagascar.webcup.fr/wp-content/uploads/sites/5/2022/05/slide2-1.jpg"></div></div>   
						<div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 238px; top: -4px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption customin customout" data-x="center" data-y="center" data-hoffset="" data-voffset="-50" data-speed="500" data-start="1000" data-transform_idle="o:1;" data-transform_in="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:500;e:Back.easeInOut;" data-transform_out="rX:0.5;scaleX:0.75;scaleY:0.75;o:0;s:600;e:Back.easeInOut;" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="visibility: hidden; transition: none 0s ease 0s; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 17px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform: matrix3d(0.75, 0, 0, 0, 0, 0.749971, 0.0065449, -1.09082e-05, 0, -0.00872654, 0.999962, -0.0016666, 0, 0, 0, 1); transform-origin: 50% 50% 0px;">
							<h3 class="c-main-title-circle c-font-48 c-font-bold c-font-center c-font-uppercase c-font-white c-block">
							TEAM Unknown<br>WEBCUP 2022
							</h3>
						</div></div></div></div>

						<div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 408px; top: 333px; z-index: 1;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption lft" data-x="center" data-y="center" data-voffset="110" data-speed="900" data-start="2000" data-transform_idle="o:1;" data-transform_in="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;" data-transform_out="x:100;y:100;rX:120;scaleX:0.75;scaleY:0.75;o:0;s:900;e:Back.easeInOut;" style="visibility: hidden; transition: none 0s ease 0s; line-height: 24px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 17px; white-space: nowrap; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform: matrix3d(0.75, 0, 0, 0, 0, -0.375, 0.649519, -0.00108253, 0, -0.866025, -0.5, 0.000833333, 100, 100, 0, 1); transform-origin: 50% 50% 0px;">
							<a href="https://nexus.iteam-s.mg/" class="c-action-btn btn btn-lg c-btn-square c-theme-btn c-btn-bold c-btn-uppercase">VOIR NOTRE SITE</a>
						</div></div></div></div>
					</li>
					<!--END -->  

				</ul>
			<div class="tp-loader spinner2" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div class="tp-bannertimer" style="visibility: hidden; width: 0%; transform: translate3d(0px, 0px, 0px);"></div><div class="tp-leftarrow tparrows circle  noSwipe" style="top: 50%; transform: matrix(1, 0, 0, 1, 30, -30); left: 0px;"></div><div class="tp-rightarrow tparrows circle  noSwipe" style="top: 50%; transform: matrix(1, 0, 0, 1, -90, -30); left: 100%;"></div></div>
		</div><div class="tp-fullwidth-forcer" style="width: 100%; height: 500px;"></div></div>
  </section>
  <!-- END: LAYOUT/SLIDERS/REVO-SLIDER-4 -->

<section id="presentation">
	<div class="c-content-box c-no-bottom-padding c-overflow-hide c-bg-grey-1">
		<div class="c-container">
						<div class="row">
							<div class="col-md-12">
								<div class="c-content-tab-2 c-theme">
									<div class="c-tab-content">
										<div class="c-bg-img-center1">
											<div class="container">
												<div class="tab-content">


													<div class="tab-pane fade active in" id="c-tab2-opt1-5">
														<div class="c-tab-pane">
															<img class="img-responsive" src="/UnknownWebCupMadagascar.html_files/cup.png" alt="">
															<div class="c-content-title-1">
																<h4 class="c-font-30 c-font-thin c-font-uppercase c-font-bold">Présentation de la team Unknown</h4>
																<div class="c-line-left c-theme-bg"></div>

															</div>

															<p class="c-font-17 c-margin-b-20 c-margin-t-20 c-font-thin ">
															
															  Nous sommes une équipe dynamique et active de jeunes étudiants ambitieux qui veulent se différencier dans le monde digital.Provenant d'un environnement précaire et jeune du programme SESAME, nous voulons tester nos compétences afin de mettre en avant nos talents.<br>
<br>
Nous sommes convaincus que le numérique est la porte de demain, donc on veut inspirer les jeunes à sortir de leur zone de confort afin qu'ils puissent donner le meilleur d'eux-mêmes pour contribuer aux avancés numériques de Madagascar.															  
															  </p>

														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

	</div>
</section>
<!-- BEGIN: CONTENT/PORTFOLIO/LATEST-WORKS-1 -->
<section id="portofolio">
<div class="c-content-box c-size-md c-bg-img-center1" style="background-image: url(https://madagascar.webcup.fr/wp-content/themes/Concours_webcup_v2020/assets/base/img/content/backgrounds/bg-62.jpg)">
	<div class="container">
			<div class="c-content-title-1">
				<h3 class="c-center c-font-uppercase c-font-bold c-font-white">
				   Portfolio Team Unknown			  </h3>
				<div class="c-line-center c-theme-bg"></div>
				<p class="c-center c-font-uppercase c-font-grey-3">Captures d'écrans de notre site Internet Webcup 2022</p>
			</div>

			<div class="cbp-panel">
				<!-- SEE: components.js:ContentCubeLatestPortfolio -->
		        <div class="c-content-latest-works cbp cbp-l-grid-masonry-projects wow animate fadeInLeft cbp-caption-active cbp-caption-zoom cbp-ready" style="visibility: visible; animation-name: fadeInLeft; opacity: 1; height: 1088px;"><div class="cbp-wrapper-outer"><div class="cbp-wrapper">
		            <div class="cbp-item graphic" style="width: 348px; left: 0px; top: 0px;"><div class="cbp-item-wrapper">
		                <div class="cbp-caption">
		                    <div class="cbp-caption-defaultWrap">
		                        <img src="/UnknownWebCupMadagascar.html_files/cap1.jpg" alt="">
		                    </div>
		                    <div class="cbp-caption-activeWrap">
		                    	<div class="c-masonry-border"></div>
		                        <div class="cbp-l-caption-alignCenter">
		                            <div class="cbp-l-caption-body">
		                                
		                                <a href="/UnknownWebCupMadagascar.html_files/cap1.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Webcup 2022 &lt;br&gt;by Unknown">zoom</a>
		                            </div>
		                        </div>w
		                    </div>
		                </div>
		            </div></div>
		           
	                
	                	                	    
	                  <div class="cbp-item web-design logos wow animate fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; opacity: 1; width: 348px; left: 371px; top: 0px;"><div class="cbp-item-wrapper">
		                <div class="cbp-caption">
		                    <div class="cbp-caption-defaultWrap">
		                        <img src="/UnknownWebCupMadagascar.html_files/cap2.jpg" alt="">
		                    </div>
		                    <div class="cbp-caption-activeWrap">
		                    	<div class="c-masonry-border"></div>
		                        <div class="cbp-l-caption-alignCenter">
		                            <div class="cbp-l-caption-body">
		                                
		                                <a href="/UnknownWebCupMadagascar.html_files/cap2.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Webcup 2022 &lt;br&gt;by Unknown">zoom</a>
		                            </div>
		                        </div>
		                    </div>
		                </div>
	              </div></div>
              	    
	                  <div class="cbp-item web-design logos wow animate fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; opacity: 1; width: 348px; left: 371px; top: 368px;"><div class="cbp-item-wrapper">
		                <div class="cbp-caption">
		                    <div class="cbp-caption-defaultWrap">
		                        <img src="/UnknownWebCupMadagascar.html_files/cap3.jpg" alt="">
		                    </div>
		                    <div class="cbp-caption-activeWrap">
		                    	<div class="c-masonry-border"></div>
		                        <div class="cbp-l-caption-alignCenter">
		                            <div class="cbp-l-caption-body">
		                                
		                                <a href="/UnknownWebCupMadagascar.html_files/cap3.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Webcup 2022 &lt;br&gt;by Unknown">zoom</a>
		                            </div>
		                        </div>
		                    </div>
		                </div>
	              </div></div>
              	    
	                  <div class="cbp-item web-design logos wow animate fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; opacity: 1; width: 348px; left: 371px; top: 736px;"><div class="cbp-item-wrapper">
		                <div class="cbp-caption">
		                    <div class="cbp-caption-defaultWrap">
		                        <img src="/UnknownWebCupMadagascar.html_files/cap4.jpg" alt="">
		                    </div>
		                    <div class="cbp-caption-activeWrap">
		                    	<div class="c-masonry-border"></div>
		                        <div class="cbp-l-caption-alignCenter">
		                            <div class="cbp-l-caption-body">
		                                
		                                <a href="/UnknownWebCupMadagascar.html_files/cap4.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Webcup 2022 &lt;br&gt;by Unknown">zoom</a>
		                            </div>
		                        </div>
		                    </div>
		                </div>
	              </div></div>
              	    
	                  <div class="cbp-item web-design logos wow animate fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; opacity: 1; width: 348px; left: 0px; top: 740px;"><div class="cbp-item-wrapper">
		                <div class="cbp-caption">
		                    <div class="cbp-caption-defaultWrap">
		                        <img src="/UnknownWebCupMadagascar.html_files/cap5.jpg" alt="">
		                    </div>
		                    <div class="cbp-caption-activeWrap">
		                    	<div class="c-masonry-border"></div>
		                        <div class="cbp-l-caption-alignCenter">
		                            <div class="cbp-l-caption-body">
		                                
		                                <a href="/UnknownWebCupMadagascar.html_files/cap5.jpg" class="cbp-lightbox cbp-l-caption-buttonRight btn c-btn-square c-btn-border-1x c-btn-white c-btn-bold c-btn-uppercase" data-title="Webcup 2022 &lt;br&gt;by Unknown">zoom</a>
		                            </div>
		                        </div>
		                    </div>
		                </div>
	              </div></div>
                              	
                	
                	              
		        </div></div></div>
		    </div>
	</div> 
</div>
 <!-- END: CONTENT/PORTFOLIO/LATEST-WORKS-1 -->
</section>

<section id="video">
<!-- BEGIN: CONTENT/FEATURES/FEATURES-16-4 -->
<div id="feature-16-1" class="c-bg-parallax c-content-feature-16 c-bg-img-center" style="background-image: url(https://madagascar.webcup.fr/wp-content/themes/Concours_webcup_v2020/assets/base/img/content/backgrounds/bg-85.jpg)">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="c-feature-16-container">
				<div class="c-content-title-1">
			<h3 class="c-center c-center c-font-uppercase c-font-bold">VIDÉO DE PRÉSENTATION</h3>
			<div class="c-line-center c-theme-bg"></div>
		
		</div>
        <div class="c-body">
			  <div class="embed-responsive embed-responsive-16by9">
			  <iframe title="Madagascar Unkonown 2" width="640" height="360" src="/UnknownWebCupMadagascar.html_files/06wvKcfmSuA.html" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>	          				
		  	  </div>
		  	  
		 
		  	  
			</div>
	
					
			</div>
			</div>
		</div>
	</div>
</div><!-- END: CONTENT/FEATURES/FEATURES-16-4 -->
</section>

<section id="description">
<div id="feature-15-1" class="c-content-feature-15 c-bg-img-center" style="background-image: url(https://madagascar.webcup.fr/wp-content/themes/Concours_webcup_v2020/assets/base/img/content/backgrounds/bg-48.jpg)">
	<div class="container">
		<div class="row">
		  <div class="col-md-offset-2 col-md-10 col-xs-12">
				<div class="c-feature-15-container c-bg-white">

				
						
					<div class="c-content-tab-3 c-opt-1">
			<div>
				<ul class="nav c-theme-nav">
					<li class="active">
						<a class="c-font-16 c-theme-font c-font-bold" href="https://madagascar.webcup.fr/team-webcup/unknown-2#c-tab3-1" data-toggle="tab">PRÉSENTATION DU SITE WEB</a>
					</li>
					<li>
						<div class="c-separator"></div>
						<a class="c-font-16 c-theme-font c-font-bold" href="https://madagascar.webcup.fr/team-webcup/unknown-2#c-tab3-2" data-toggle="tab">LES TECHNOS</a>
					</li>
				</ul>
			</div>
			<div class="c-tab-content">
				<div class="container">
					<div class="tab-content">
						<div class="tab-pane fade in active" id="c-tab3-1">
							<div class="col-md-8 col-sm-12">
								<ul class="c-items">
									<li>
										<h4 class="c-font-20"><i class="fa fa-file-code-o"></i>Description du site</h4>
										 										<p> "Nexus" voulant dire "connexion", notre site web de capsules temporelles digitalisé vise à connecter les anciennes et les futures générations. Elle propose des hébergements omniprésents dans la galaxie (sur terre, dans l'espace, sous l'océan, ...).<br>
Elle vous permet de laisser une trace mémorable de votre passage sur terre.</p>
										 									</li>
									<li>
										<h4 class="c-font-20">
											<i class="fa fa-globe"></i>Les points forts &amp; points faibles</h4>
									 <p></p>
										<p>  Point fort :<br>
- Design UI - UX .<br>
- Animation.<br>
- Page sécurisé par token.<br>
- Intégration paypal.<br>
- Estimateur de prix selon les emplacements.<br>
- Simulateur d'emplacement<br>
- Contenue intrigante<br>
<br>
Point faible:<br>
- Une site web non single-page<br>
- Un peu lourd										 								</p></li>
									<li>
										<h4 class="c-font-20"><i class="fa fa-dropbox"></i>Si on avait plus de temps...</h4>
										<p></p>
										  <p>- Dashboard pour l'admin										 									</p></li>
								</ul>
							
							
						
								
							</div>

							
						</div>

						<div class="tab-pane fade" id="c-tab3-2">
							<div class="col-md-4 col-sm-12">
						<ul class="c-content-list-1">
							<li><span style="color: #2cb900;"> <i class="fa fa-check-square-o "></i></span>
							 Site Responsive</li>
							
							<li><span style="color: #ffa700fa;"><i class="fa fa-square-o"></i></span>  
							CMS
							 </li>
							
							<li><span style="color: #2cb900;"> <i class="fa fa-check-square-o "></i></span>
							 
							Framework JS : Vue-JS </li>
							
														<li>Language(s) de programmation : Python, Js, HTML, CSS</li>
							 
				
						</ul>
							
							</div>
                    <div class="col-md-4 col-sm-12">
						<ul class="c-content-list-1">
				

							<li><span style="color: #2cb900;"> <i class="fa fa-check-square-o "></i></span>
							 
							Framework CSS :
							Bootstrap  
							 </li>
							
							
							<li><span style="color: #ffa700fa;"><i class="fa fa-square-o"></i></span>  
							Template créatif 
							 </li>
							
							<li><span style="color: #ffa700fa;"><i class="fa fa-square-o"></i></span>  
							Pre/post-processor CSS 
							 </li>
						
						
						</ul>
							
							</div>
						</div>

					
					</div>
				</div>
			</div>
		</div>	
						
				
			</div>
			</div>
		</div>
	</div>
</div>	
</section>

<section id="team">		
<!-- BEGIN: CONTENT/SLIDERS/TEAM-2 -->
<div class="c-content-box c-size-md c-bg-parallax c-bg-img-center" style="background-image: url(https://inscription.webcup.fr/wp-content/uploads/sites/14/2018/02/slide14.png)">
	<div class="container">
		<!-- Begin: Testimonals 1 component -->
		<div class="c-content-person-1-slider" data-slider="owl">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1 wow  fadeIn animated" style="visibility: visible; animation-name: fadeIn; opacity: 1;">
				<h3 class="c-center c-font-uppercase c-font-bold c-font-white">Notre Team</h3>
				<div class="c-line-center c-theme-bg"></div>
			</div>
			<!-- End-->

			<!-- Begin: Owlcarousel -->
			<div class="owl-carousel owl-theme c-theme c-owl-nav-center wow  fadeInUp owl-loaded animated" data-items="3" data-slide-speed="8000" data-rtl="false" style="visibility: visible; animation-name: fadeInUp; opacity: 1;"> 
	  		
	  			  		
	  		
		  		
                
                  
                
		  		
                
            		  			
                                             
		  		
		  			  	<div class="owl-stage-outer">
<div class="owl-stage" style="width: 2600px;">
<%@quotes=[
"Santé vaut mieux que richesse - proverbe africain",
"ne cessez jamais de chercher - confucius",
"Si tu veux aller vite, vas-y seul mais si tu veux aller loin, alors il faut y aller ensemble - proerbe africain"
]%>
<div id="mycarousel" 

class="carousel mycarousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  <ol class="carousel-indicators">
<%@people.each_slice(2).to_a.each_with_index do |people,i1|%>
    
    <li data-target="#mycarousel" data-slide-to="<%=i1%>" class="<%=i1 == 0 ? "active" : ""%>"></li>

<%end%>
  </ol>
  <div class="carousel-inner">
<%@people.each_slice(2).to_a.each_with_index do |people,i1|%>
    <div class="carousel-item <%=i1 == 0 ? "active" : ""%>">
<%=render partial: "posts_layouts/profilewebcup", as: :user,collection:people %>
    </div>
   <%end%>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#mycarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#mycarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



</div></div>

</div>			 
	        <!-- End-->
	    </div>
	    <!-- End-->
	</div>
</div><!-- END: CONTENT/SLIDERS/TEAM-2 -->
</section>







<!-- BEGIN: CONTENT/SLIDERS/CLIENT-LOGOS-1 -->
<div class="c-content-box c-size-md c-bg-white">
	<div class="container">
		<!-- Begin: Testimonals 1 component -->
		<div class="c-content-client-logos-slider-1" data-slider="owl">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1">
				<h3 class="c-center c-font-uppercase c-font-bold">Partenaires &amp; sponsors</h3>
				<div class="c-line-center c-theme-bg"></div>
			</div>
			<!-- End-->
			<!-- Begin: Owlcarousel -->
			<div class="owl-carousel owl-theme c-theme c-owl-nav-center owl-loaded" data-items="5" data-desktop-items="4" data-desktop-small-items="3" data-tablet-items="3" data-mobile-small-items="1" data-auto-play="false" data-rtl="false" data-slide-speed="5000" data-auto-play-hover-pause="true"> 
			 	       
		  		
			  	                 
		  		
			  	                 
		  		
			  	                 
		  		
			  	                 
		  		
			  	                 
		  		
			  	                 
                           
			  		
			  	                 
			  		
			  	                 
			  		
			  	                 
			  		
			  	                 
			  		
			  	                 
			  		
			  	                  
			<div class="owl-stage-outer"><div class="owl-stage" style="width: 4680px;"><div class="owl-item cloned" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.inclusiv.mg/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/IA.jpg" alt="INCLUSIV ACADEMY"></a>
			  	</div></div><div class="owl-item cloned" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.ibonia.com/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/ibonia.jpg" alt="IBONIA"></a>
			  	</div></div><div class="owl-item cloned" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.passion4humanity.com/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/P4H.jpg" alt="Passion 4 Humanity"></a>
			  	</div></div><div class="owl-item" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.pulse.mg/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/pulse.jpg" alt="PULSE"></a>
			  	</div></div><div class="owl-item" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.bocasay.com/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/bocasay-copie.jpg" alt="BOCASAY"></a>
			  	</div></div><div class="owl-item" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.novity.io/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/novity.jpg" alt="NOVITY"></a>
			  	</div></div><div class="owl-item" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.ingenosya.com/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/ingenosya.jpg" alt="INGENOSYA"></a>
			  	</div></div><div class="owl-item" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.hairun-technology.com/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/hairun.jpg" alt="HAIRUN"></a>
			  	</div></div><div class="owl-item active" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="http://www.nexta.mg/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/Sans-titre-4.png" alt="NEXTA"></a>
			  	</div></div><div class="owl-item active" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.studiokalanoor.com/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/KL.jpg" alt="STUDIO KALANOOR"></a>
			  	</div></div><div class="owl-item active" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.telma.mg/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/Sans-titre-6.png" alt="TELMA "></a>
			  	</div></div><div class="owl-item" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.myagency.mg/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/my-agency.jpg" alt="MY AGENCY"></a>
			  	</div></div><div class="owl-item" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.inclusiv.mg/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/IA.jpg" alt="INCLUSIV ACADEMY"></a>
			  	</div></div><div class="owl-item" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.ibonia.com/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/ibonia.jpg" alt="IBONIA"></a>
			  	</div></div><div class="owl-item" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.passion4humanity.com/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/P4H.jpg" alt="Passion 4 Humanity"></a>
			  	</div></div><div class="owl-item cloned" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.pulse.mg/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/pulse.jpg" alt="PULSE"></a>
			  	</div></div><div class="owl-item cloned" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.bocasay.com/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/bocasay-copie.jpg" alt="BOCASAY"></a>
			  	</div></div><div class="owl-item cloned" style="width: 260px; margin-right: 0px;"><div class="item">
			  		<a href="https://www.novity.io/" target="_blank"><img src="/UnknownWebCupMadagascar.html_files/novity.jpg" alt="NOVITY"></a>
			  	</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="display: none;"></div><div class="owl-next" style="display: none;"></div></div><div class="owl-dots" style=""><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div></div>
	        <!-- End-->
	    </div>
	    <!-- End-->
	</div>
</div>
<!-- END: CONTENT/SLIDERS/CLIENT-LOGOS-1 -->

<div class="c-content-box c-size-md c-bg-dark">
	<div class="container">
		<div class="c-content-bar-3">
			<div class="row">
				<div class="col-md-7">
					<div class="c-content-title-1">
						<h3 class="c-font-uppercase c-font-bold">Prix de la viralité !</h3>
						<p class="c-font-uppercase c-font-white">Vous appréciez cette team et ses travaux ? Voter pour elle, grâce à votre like elle pourra peut-être gagner le "prix de la viralité" ! <span class="glyphicon glyphicon-chevron-right">
					</span></p>
					</div>
				</div>
				<div class="col-md-3 col-md-offset-2">
					<div class="c-content-v-center" style="height: 90px;">
						<div class="c-wrapper">
							<div class="c-body">
							
						
								  <!-- Your like button code -->

								
					<!-- LikeBtn.com BEGIN --><span class="likebtn-wrapper lb-loaded lb-style-github lb-popup-position-top lb-popup-style-light" data-identifier="team_webcup_3340" data-site_id="60b29bee943ec9cf2924430b" data-theme="github" data-lang="fr" data-ef_voting="wobble" data-dislike_enabled="false" data-icon_dislike_show="false" data-white_label="true" data-rich_snippet="true" data-item_url="https://madagascar.webcup.fr/team-webcup/unknown-2" data-item_title="Unknown" data-item_date="2022-04-30T10:07:45+01:00" data-engine="WordPress" data-plugin_v="2.6.43" data-prx="https://madagascar.webcup.fr/wp-admin/admin-ajax.php?action=likebtn_prx" data-event_handler="likebtn_eh" itemscope="" itemtype="http://schema.org/Product"><span class="likebtn-button lb-like lb-ef-wobble" id="lb-like-0"><span onclick="LikeBtn.vote(1, 0, event);" class="lb-a" data-lb_index="0"><i class="lb-tt lb-tooltip-tt"><i class="lb-tt-lt"></i><i class="lb-tt-rt"></i><i class="lb-tt-m">J'aime ça</i><i class="lb-tt-mu">Je n'aime plus</i><i class="lb-tt-m2"></i><i class="lb-tt-lb"></i><i class="lb-tt-rb"></i><i class="lb-tt-a"></i></i><span class="likebtn-icon lb-like-icon">&nbsp;</span><span class="likebtn-label lb-like-label">J'aime</span></span><span class="lb-count" data-count="2">2</span></span><meta itemprop="name" content="Unknown"><meta itemprop="headline" content="Unknown"><meta itemprop="description" content=""><meta itemprop="image" content=""><meta itemprop="datePublished" content="2022-04-30T10:07:45+01:00"><meta itemprop="url" content="https://madagascar.webcup.fr/team-webcup/unknown-2"><span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating"><meta itemprop="worstRating" content="1"><meta itemprop="bestRating" content="5"><meta itemprop="ratingValue" content="5"><meta itemprop="ratingCount" content="2"></span></span><!-- LikeBtn.com END -->		
						  
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div> 
</div>


<section id="pricing" style="display:none;">
<!-- BEGIN: CONTENT/PRICING/PRICING-1 -->
<div class="c-content-box c-size-md c-bg-grey-1">
	<div class="container">
		<div class="c-content-pricing-1">
			<div class="c-content-title-1">
				<h3 class="c-center c-font-uppercase c-font-bold">Commentaires</h3>
				<div class="c-line-center"></div>
			</div>
			<div class="c-tile-container">
				
				 <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop" data-href="https://madagascar.webcup.fr/team-webcup/unknown-2" data-width="100%" data-numposts="10" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=303576908595&amp;container_width=0&amp;height=100&amp;href=https%3A%2F%2Fmadagascar.webcup.fr%2Fteam-webcup%2Funknown-2&amp;locale=fr_FR&amp;numposts=10&amp;sdk=joey&amp;version=v10.0&amp;width=" style="width: 100%;"><span style="vertical-align: bottom; width: 100%; height: 0px;"><iframe name="f2af5e673db454c" width="1000px" height="100px" data-testid="fb:comments Facebook Social Plugin" title="fb:comments Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="/UnknownWebCupMadagascar.html_files/comments.html" class=" fb_iframe_widget_lift" style="border: none; visibility: visible; width: 0px; height: 0px;"></iframe></span></div>  
				
			</div>
		</div>
	</div> 
</div>
<!-- END: CONTENT/PRICING/PRICING-1 -->
</section>


			
<!--					<div class="c-content-box c-size-md c-bg-dark">
	<div class="container">
		<div class="c-content-bar-3">
			<div class="row">
				<div class="col-md-7">
													</div>		
			</div>
		</div>
	</div> 
</div>
-->
					



	
</div>
	<!-- END: PAGE CONTAINER -->
  
	<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-8 -->
<a name="footer"></a>
<footer id="contact" class="c-layout-footer c-layout-footer-4 c-bg-footer-8">
	<div class="c-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 c-footer-4-p-right">
					<div class="c-content-title-1">
						<h3 class="c-font-uppercase c-font-bold c-font-white c-border">WEB<span class="c-theme-font">CUP</span></h3>
					</div>
				
					<p class="c-about">
						<strong>L’Association Webcup</strong> a pour objectifs de dynamiser et promouvoir le rayonnement et l’excellence de la filière TIC et de ses acteurs; Dynamiser et promouvoir l’esprit d’innovation et d’entrepreneuriat;
Susciter des vocations et contribuer à l’enseignement ou l’apprentissage dans le domaine des TIC, de l’entrepreneuriat et de l’innovation; Favoriser la coopération régionale et internationale dans le domaine des TIC, de l’entrepreneuriat et de l’innovation, mettre à profit la solidarité numérique et soutenir les échanges culturels et économiques entre les différents acteurs.
				 </p> 
				 
				 
					<div class="c-links">
						<ul class="c-nav">
							<li><a class="c-active c-theme-border c-theme-font" href="https://madagascar.webcup.fr/">Accueil</a></li>
							<li><a href="https://madagascar.webcup.fr/#concours">Concours</a></li>
							<li><a href="https://madagascar.webcup.fr/#partenaire">Partenaires</a></li>
							<li><a href="https://madagascar.webcup.fr/acces-jury">Accès Jury</a></li>
				
						</ul>
					</div>
					<p class="c-contact">
						Groupe d’habitations Montreuil,<br>
						208 Rue Maréchal Leclerc<br>
						97400 Saint-Denis – La Réunion
				    </p>
					<ul class="c-socials">
						<li><a href="https://twitter.com/WebCup_mg"><i class="icon-social-twitter"></i></a></li>
						<li><a href="https://www.facebook.com/WebcupMadagascar"><i class="icon-social-facebook"></i></a></li>
						<li><a href="https://www.youtube.com/user/lawebcup"><i class="icon-social-youtube"></i></a></li>
						
					</ul>
				</div>
				<div class="col-md-6 c-footer-4-p-left">
					<div class="c-feedback">
					
	                </div>
				</div>
			</div>
		</div>
	</div>
</footer><!-- END: LAYOUT/FOOTERS/FOOTER-8 -->


  
      <!-- LikeBtn.com BEGIN -->
    <script type="text/javascript">var likebtn_wl = 1; (function(d, e, s) {a = d.createElement(e);m = d.getElementsByTagName(e)[0];a.async = 1;a.src = s;m.parentNode.insertBefore(a, m)})(document, 'script', '//w.likebtn.com/js/w/widget.js'); if (typeof(LikeBtn) != "undefined") { LikeBtn.init(); }</script>
    <!-- LikeBtn.com END -->
            <script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.blockUI.min.js" id="jquery-blockui-js"></script>
<script type="text/javascript" id="wc-add-to-cart-js-extra">
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","i18n_view_cart":"Voir le panier","cart_url":"https:\/\/madagascar.webcup.fr\/panier","is_cart":"","cart_redirect_after_add":"yes"};
/* ]]> */
</script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/add-to-cart.min.js" id="wc-add-to-cart-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/js.cookie.min.js" id="js-cookie-js"></script>
<script type="text/javascript" id="woocommerce-js-extra">
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/woocommerce.min.js" id="woocommerce-js"></script>
<script type="text/javascript" id="wc-cart-fragments-js-extra">
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_fb8c583022f8a70c4fa97c30b92cf457","fragment_name":"wc_fragments_fb8c583022f8a70c4fa97c30b92cf457","request_timeout":"5000"};
/* ]]> */
</script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/cart-fragments.min.js" id="wc-cart-fragments-js"></script>
<script type="text/javascript" id="woo-confirmation-email-custom-js-js-extra">
/* <![CDATA[ */
var xlwuev = {"plugin_version":"3.5.0"};
var xlwuev_settings = "{\"wuev-email-template\":{\"xlwuev_verification_method\":\"2\",\"xlwuev_verification_type\":\"1\",\"xlwuev_email_subject\":\"Action requise pour activer votre compte sur Webcup !\",\"xlwuev_email_heading\":\"Activation du compte Webcup\",\"xlwuev_email_body\":\"    <p><strong>Bonjour {{xlwuev_display_name}},      <\/strong><\/p>rn    <p>Merci de vous u00eatre inscrit au concours Webcup !<\/p>rn    <p> Il vous reste une derniu00e8re formalitu00e9 u00e0 accomplir pour activer votre compte.rn      rn      Veuillez noter que vous devez absolument franchir cette derniu00e8re u00e9tape pour u00eatre considu00e9ru00e9 comme utilisateur u00e0 part entiu00e8re.<\/p>rn    <p> Afin d'achever la procu00e9dure d'inscription, <strong>veuillez suivre le lien suivant <\/strong>:rn      {{wcemailverificationcode}} <\/p>rn    <p>A noter : si vous ne validez pasu00a0votreu00a0compteu00a0sous 7 jours, ce dernier sera automatiquement supprimu00e9.      <\/p>rn    <p>Cordialementrn      rn      La Team Webcup <\/p>\",\"xlwuev_email_header\":false},\"wuev-messages\":{\"xlwuev_email_success_message\":\"Votre compte est activu00e9 !\",\"xlwuev_email_registration_message\":\"Nous vous avons envoyu00e9 un e-mail de vu00e9rification. Vu00e9rifiez et activez votre compte. {{xlwuev_resend_link}}\",\"xlwuev_email_resend_confirmation\":\"Renvoyer le mail de vu00e9rification\",\"xlwuev_email_verification_already_done\":\"Votre compte est du00e9ju00e0 activu00e9\",\"xlwuev_email_new_verification_link\":\"Un nouveau email de vu00e9rification contenant un lien d'activation vous a u00e9tu00e9 envoyu00e9. Veuillez consulter votre messagerie. {{xlwuev_resend_link}}\",\"xlwuev_email_new_verification_link_text\":\"Cliquez ici pour activer votre compte\"},\"wuev-general-settings\":{\"xlwuev_restrict_user\":\"2\",\"xlwuev_verification_page\":\"1\",\"xlwuev_verification_page_id\":\"1876\",\"xlwuev_verification_error_page\":\"1\",\"xlwuev_verification_error_page_id\":\"1876\",\"xlwuev_email_error_message_not_verified_outside\":\"You need to verify your account before login. {{xlwuev_resend_link}}\",\"xlwuev_email_error_message_not_verified_inside\":\"Vous devez activer votre compte pour continuer {{xlwuev_resend_link}}\",\"xlwuev_automatic_user_login\":\"1\"}}";
/* ]]> */
</script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/woo-confirmation-email-admin.js" id="woo-confirmation-email-custom-js-js"></script>
<script type="text/javascript" id="quform-js-extra">
/* <![CDATA[ */
var quformL10n = [];
quformL10n = {"pluginUrl":"https:\/\/madagascar.webcup.fr\/wp-content\/plugins\/quform","ajaxUrl":"https:\/\/madagascar.webcup.fr\/wp-admin\/admin-ajax.php","ajaxError":"Erreur Ajax","errorMessageTitle":"Il y a eu un probl\u00e8me","removeFile":"Enlever","supportPageCaching":true};
/* ]]> */
</script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/quform.5.js" id="quform-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/core.min.js" id="jquery-ui-core-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/mouse.min.js" id="jquery-ui-mouse-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/draggable.min.js" id="jquery-ui-draggable-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/slider.min.js" id="jquery-ui-slider-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.ui.touch-punch.js" id="jquery-touch-punch-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/iris.min.js" id="acf_load_script-js"></script>
<script type="text/javascript" id="wp-color-picker-js-extra">
/* <![CDATA[ */
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
var wpColorPickerL10n = {"clear":"Effacer","defaultString":"Valeur par d\u00e9faut","pick":"Select Color","current":"Current Color"};
/* ]]> */
</script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/color-picker.min.js" id="wp-color-picker-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.min(1).js" id="jqcore-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery-migrate.min(1).js" id="jquery-migrate-core-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/bootstrap.min.js" id="bootstrap-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.easing.min.js" id="jquery-easing-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/wow.js" id="wow-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/reveal-animate.js" id="reveal-animate-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.themepunch.tools.min.js" id="jquery-themepunch-tools-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.themepunch.revolution.min.js" id="jquery-themepunch-revolution-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/revolution.extension.slideanims.min.js" id="revolution-slideanims-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/revolution.extension.layeranimation.min.js" id="revolution-layeranimation-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/revolution.extension.navigation.min.js" id="revolution-navigation-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/revolution.extension.video.min.js" id="revolution-video-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/revolution.extension.parallax.min.js" id="revolution-parallax-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.cubeportfolio.min.js" id="jquery-cubeportfolio-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/owl.carousel.min.js" id="owl-carousel-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.waypoints.min.js" id="jquery-waypoints-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.counterup.min.js" id="jquery-counterup-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.fancybox.pack.js" id="fancybox-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.smooth-scroll.js" id="smooth-scroll-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/typed.min.js" id="typed-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/bootstrap-slider.js" id="bootstrap-slider-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/components.js" id="components-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/components-shop.js" id="components-shop-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/app.js" id="app-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.ba-throttle-debounce.min.js" id="ba-throttle-debounce-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.knob.min.js" id="knob-js"></script>
<script type="text/javascript" src="/UnknownWebCupMadagascar.html_files/jquery.redcountdown.no-presets.min.js" id="redcountdown-js"></script>
  

	<!-- END: THEME SCRIPTS -->
 

 
<!--
<script>
// CONTACT MAP

var PageContact = function() {

	var _init = function() {

		var mapbg = new GMaps({
			div: '#gmapbg',
			lat: '',
			lng: '',
			scrollwheel: false,
		});


		mapbg.addMarker({
			lat: '',
			lng: '',
			title: '',
			infoWindow: {
				content: '<h3></h3><p></p>'
			}
		});
	}

    return {
        //main function to initiate the module
        init: function() {

            _init();

        }

    };
}();

$(document).ready(function() {
    PageContact.init();
    $( window ).resize(function() {
		PageContact.init();
	});
});
</script>
-->


  
<!-- BEGIN: front page PAGE SCRIPTS -->

	<script>
	$(document).ready(function() {    
		App.init(); // init core    
	});
	</script>
		<script>
			$(document).ready(function() {
    
    var slider = $('.c-layout-revo-slider .tp-banner');
    var cont = $('.c-layout-revo-slider .tp-banner-container');
    var height = (App.getViewPort().width < App.getBreakpoint('md') ? 400 : 620);

    var api = slider.show().revolution({
        sliderType:"standard",
        sliderLayout:"fullwidth",
        delay: 15000,    
        autoHeight: 'off',
        gridheight:500,

        navigation: {
            keyboardNavigation:"off",
            keyboard_direction: "horizontal",
            mouseScrollNavigation:"off",
            onHoverStop:"on",
            arrows: {
                style:"circle",
                enable:true,
                hide_onmobile:false,
                hide_onleave:false,
                tmp:'',
                left: {
                    h_align:"left",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                },
                right: {
                    h_align:"right",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                }
            },     
            touch:{
                touchenabled:"on",
                swipe_threshold: 75,
                swipe_min_touches: 1,
                swipe_direction: "horizontal",
                drag_block_vertical: false
            },     
        },
        viewPort: {
            enable:true,
            outof:"pause",
            visible_area:"80%"
        },

        shadow: 0,

        spinner: "spinner2",

        disableProgressBar:"on",

        fullScreenOffsetContainer: '.tp-banner-container',

        hideThumbsOnMobile: "on",
        hideNavDelayOnMobile: 1500,
        hideBulletsOnMobile: "on",
        hideArrowsOnMobile: "on",
        hideThumbsUnderResolution: 0,
    
    });
}); //ready	
			</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="/UnknownWebCupMadagascar.html_files/js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-60887195-1');
</script>



<!--/*single team*/--></body></html>