<%= form_with(model: actionlist, local: true) do |form| %>
  <% if actionlist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actionlist.errors.count, "error") %> prohibited this actionlist from being saved:</h2>

      <ul>
        <% actionlist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title_fr %>
    <%= form.text_field :title_fr %>
  </div>

  <div class="field">
    <%= form.label :title_en %>
    <%= form.text_field :title_en %>
  </div>

  <div class="field">
    <%= form.label :title_de %>
    <%= form.text_field :title_de %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
