<p id="notice"><%= notice %></p>

<h1>Mydocs</h1>

<table>
  <thead>
    <tr>
      <th>Controller</th>
      <th>Action</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mydocs.each do |mydoc| %>
      <tr>
        <td><%= mydoc.controller %></td>
        <td><%= mydoc.action %></td>
        <td><%= mydoc.content %></td>
        <td><%= mydoc.user_id %></td>
        <td><%= link_to 'Show', mydoc %></td>
        <td><%= link_to 'Edit', edit_mydoc_path(mydoc) %></td>
        <td><%= link_to 'Destroy', mydoc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mydoc', new_mydoc_path %>
