<!DOCTYPE html>

<html lang="<%=I18n.locale%>">

	<head>

        <!-- OneTrust Cookies Consent Notice start -->
        <%if root_path == request.path%>
            <script type="text/javascript" src="https://cdn-ukwest.onetrust.com/consent/9b0023df-a911-478c-9d3a-88ba02ac0580/OtAutoBlock.js"></script> <script src="https://cdn-ukwest.onetrust.com/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="9b0023df-a911-478c-9d3a-88ba02ac0580"></script> <script type="text/javascript"> function OptanonWrapper() { } </script><!-- OneTrust Cookies Consent Notice end -->
            <%end%>
            <title><%=@title%></title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta property="og:image" content="https://primedia.primark.com/s/primark/134156585_ms?locale=en-*,sl-*,*&$product-thumbnail$?$poi$&w=1200&sm=aspect&aspect=1200:628"/>
<link rel="canonical" href="https://www.primark.com/es/todos-los-productos-primark/nuestra-linea-de-moda-femenina/ropa-para-mujer/vestidos/c/womens-dresses">
        








<meta name="keywords">
<meta name="description" content="Descubre nuestra extraordinaria colecci&oacute;n de vestidos para mujer, con dise&ntilde;os para todo tipo de ocasiones: desde encantadores vestidos veraniegos hasta interminables vestidos maxi, modernos modelos camiseros y mucho m&aacute;s.">
<meta name="robots" content="follow">
<%=yield :stylesheetsjs%>
<script>

var googleAnalyticsTrackingId = 'your_google_analytics_tracking_id';

var _gaq = _gaq || [];
_gaq.push(['_setAccount', googleAnalyticsTrackingId]);



		_gaq.push(['_trackPageview']);
	

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

<script>

		var dataLayer = dataLayer || [];

		
					dataLayer.push({'pageType': 'sub-category'});
				
			dataLayer.push({'categoryID': 'womens-dresses'});
			
				dataLayer.push({'categoryName': 'Dresses'});
			</script>

	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-T7JD7G');</script>

	<noscript>
		<iframe src="//www.googletagmanager.com/ns.html?id=GTM-T7JD7G" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>

<meta name="google-site-verification" content="vR24HgAYET6Gzo3XJIvi-D-u0NhWYBrGJpmuCSly9bk" />

        <script type="text/javascript" src="//c.webtrends-optimize.com/acs/accounts/96b8abf4-5366-4a7b-9830-6a343bd5c891/js/wt.js"></script>

        </head>

	<body class="view type-base js-view page-productGrid pageType-CategoryPage template-pages-category-productGridPage  smartedit-page-uid-productGrid smartedit-page-uuid-eyJpdGVtSWQiOiJwcm9kdWN0R3JpZCIsImNhdGFsb2dJZCI6InByaW1hcmstZXNDb250ZW50Q2F0YWxvZyIsImNhdGFsb2dWZXJzaW9uIjoiT25saW5lIn0= smartedit-catalog-version-uuid-primark-esContentCatalog/Online   language-es" data-view='{"offCanvasClass": "view--off-canvas", "searchClass": "view--search"}'>

		<div id="page" class="view__page" data-currency-iso-code="EUR">

			<div class="yCmsContentSlot">
<!--
<div class="cookie-message js-cookie-notification">

		<p class="cookie-message__text">
			Utilizamos cookies para ofrecerte una experiencia óptima en nuestro sitio web. Las cookies son archivos que se almacenan en tu navegador y casi todas las páginas web las usan para personalizar la navegación. Si sigues utilizando nuestro sitio web sin cambiar la configuración, consideramos que aceptas el <a class="link link--inline" href="/es/privacy-and-cookies">Política de cookies</a>
			</p>

		<button class="cookie-message__close handle js-cookie-notification-accept" aria-hidden="true" data-dismiss="alert" type="button">
			<i class="icon icon--close"></i>
			<span class="reader-only">
				text.close</span>
		</button>

	</div>


-->


</div><header class="view__header header js-mainHeader" role="banner">

	<div class="header__area header__area--content-top">
		





	

		
			
			










	
	

	
	

    
    

    
    

	
    

	
    

	
	

	
	

	
	
	

	
	

	
	

	
	

	
	

	
	
	

	
	

	
	

	
	

	

	

	
	
	
		<div class=" component component--wrap-fill component--space-flush component--promotional-banner">
			
			








    
    
        
            
            
        
        
    

    <div class="promo-banner promo-banner--theme-blue-background-white-text js-banner" data-component-id="http://content.cms.amplience.com/f7852ef6-789c-4720-b8d7-f5b0e139899b" data-component-type="primark-promotional-banner">

        <div class="promo-banner__wrap">

            <div class="promo-banner__image-wrap">
                
            </div>

            <div class="promo-banner__text"><%=I18n.t "banner"%></div>

            
            
            <a class="promo-banner__button button button--square button--hyperlink-with-transparent-background" href="<%=I18n.t "linkhtmllocalisateur"%>?qp=Espa%C3%B1a&country=ES"><%=I18n.t "other.knowmore"%></a>

        </div>

        <button type="button" class="close promo-banner__button-close js-close-banner" data-dismiss="alert" aria-label="Close">
            <i class="icon icon--close"></i>
            <span class="reader-only">text.close</span>
        </button>

    </div>





		</div>
		
	

	
	

	
	

	
	
	
	
	
	
	
	
	
    

	
	
	
	

	
	
	
	
	

	
	

	
	

	
	


			
		

	
	
</div>

	<div class="access">
	<ul class="access__list">
		<li class="access__item">
			<a class="access__link" href="#skip-to-content">
				Ir al contenido</a>
		</li>
		<li class="access__item">
			<a class="access__link" href="/es/sitemap.html">
				Ir al mapa del sitio</a>
		</li>
	</ul>
</div>


<nav class="header__area header__area--main" role="navigation">

		<div class="header__wrap">

			<nav class="view__compact-nav header__item header__item--primary-nav-compact" role="navigation">
				<div class="mega-nav">
	<div class="mega-nav__item">
		<button class="handle js-view-off-canvas-toggle" type="button" aria-label="header.menu" aria-expanded="false">
			<i class="icon icon--menu"></i>
			<span class="reader-only">header.menu</span>
		</button>
	</div>

	<div class="mega-nav__item mega-nav__item--logo">
		<div class="mega-nav__item--site-logo">
			<a class="logo" href="/es/">
				<img class="logo__image" src="https://primedia.primark.com/i/primark/logo-primark" width="200" height="25" alt="Primark"/>
            </a>
		</div>
			</div>

	<div class="mega-nav__item mega-nav__item--group">

		<a class="handle mega-nav__item--campaigns" href="" aria-label="header.campaigns">
			<i class="icon icon--campaigns"></i>
			<span class="reader-only">header.campaigns</span>
		</a>

		<a class="handle" href="<%=I18n.t "linkhtmllocalisateur"%>" target="_blank">
			<i class="icon icon--store-outline"></i>
			<span class="reader-only"><%=I18n.t "localisateur"%></span>
		</a>

        <div class="mega-nav__search mega-nav__item--search">
			<button class="mega-nav__search--open view__search handle js-view-search-toggle" type="button" aria-label="header.search">
				<i class="icon icon--search-outline"></i>
				<span class="reader-only">header.search</span>
			</button>
			
			<button class="mega-nav__search--close view__search handle js-view-search-toggle" type="button" aria-label="Close">
				<i class="icon icon--close-outline"></i>
				<span class="reader-only">
					search.form.close</span>
			</button>
		</div>

	</div>
	
</div>


</nav>

			<div class="header__items">
				<div class="header__item header__item--top-nav-locator">
					<div class="header__sub-item">
						<div class="top-nav js-top-nav">
	<ul class="top-nav__list js-top-nav-list">

		<li class="top-nav__item">
			<a href="<%=I18n.t "linkhtmllocalisateur"%>" target="_blank">
				<i class="top-nav__icon icon icon--store-outline"></i>
               <%=I18n.t "localisateur"%></a>
		</li>

		</ul>
</div>


</div>
				</div>

			</div>

			<div class="header__item header__item--site-logo">
				<a class="logo" href="/es/">
					<img class="logo__image" src="https://primedia.primark.com/i/primark/logo-primark" width="200" height="25" alt="Primark"/>
            </a>
			</div>
				<div class="header__item header__item--search view__search">
				<div class="site-search ui-front">

	<%= render partial: "nav/searchform" %>

</div>


</div>

		</div>

	</nav>

	<div class="header__area header__area--nav">
		<div class="header__item header__item--primary-nav">
		<%= render "nav/mynav" %>
	</div>

	<script type="text/template" class="js-off-canvas-nav-parent-link-template">
		<div class="off-canvas-nav__parent-link">
			<a href="$href">
				Ir a $label</a>
		</div>
	</script>
</div>

	<div class="header__area header__area--content-bottom">
		</div>

</header>


<main class="view__main " role="main" >
				<a id="skip-to-content"></a>
				<%=render partial: "nav/breadcrumb"%>



<%=yield%>


		<div class="scroll-top ">
	<div class="scroll-top__wrap">
		<a href="#page" class="scroll-top__button button button--primary button--icon-right js-scroll-top" role="button">
			<i class="button__icon icon icon--scroll-top-invert"></i>
			<span class="reader-only">Volver a arriba</span>
		</a>
	</div>
</div>


</main>
<%=render partial: "nav/footer"%>


</div>

		<%=yield :allthescripts%>

</body>

</html>


